[2020-01-07 02:50] pcmoore commented on #183
See #196

[2020-01-08 05:38] pcmoore commented on #183
With #196 merged I'm going to close this out.

[2020-01-08 05:38] #183 closed

[2020-01-08 06:04] pcmoore opened #199 "BUG: Travis builds are failing due to "pip install cython""
When merging PRs today I noticed that Travis started failing due to problems installing Cython via pip:
* https://travis-ci.org/seccomp/libseccomp/builds/634085496

We need to fix this *soon*.

[2020-01-08 06:07] pcmoore commented on #199
I tried a quick fix of returning the build to the default Python version (v3.6 as of now), but with that we are now seeing a Python test failure.

Travis patch:
[code]

Test failure: https://travis-ci.org/pcmoore/misc-libseccomp/builds/634088624
[code]

[2020-01-08 14:47] drakenclimber commented on #199
Yuck - I agree this is high priority.  I'll try and help debug this today.

[2020-01-08 20:45] drakenclimber commented on #199
I have hacked around with this a little bit, and I don't like what I have found.  As best as I can tell, test 24 seems dependent upon what has been run before it.

I created a [branch](https://github.com/drakenclimber/libseccomp/commits/issues/fixtravisci2) and I have two patches in it.

Patch 1 - The above patch to disable the nightly python - Automated tests [fail](https://travis-ci.org/drakencl

[2020-01-12 15:34] pcmoore commented on #199
Well that is really annoying, and not something that makes much sense.  Sigh.  Thanks for playing with it; the latter half of last week was a bit bonkers for me, and I expect the rest of January will be the same.

@whereswaldon has a fix in #201, but I'm starting to think the proper fix for Travis might be to just skip the Python live tests and only run the native/C live tests; otherwise I'm afrai

[2020-01-13 14:22] drakenclimber commented on #199
Yes, I think this is the best option available to us.

[2020-01-14 14:29] whereswaldon commented on #199
So we'd be skipping only running the live shim layer that invokes libseccomp from python?

What are the "simulated Python tests"? I'm trying to understand the different kinds of testing in use in the repo. I assume that the live tests run against the kernel underneath them, but what do that simulated tests do? Does it fake the `seccomp` syscall or something?

[2020-01-14 21:36] drakenclimber commented on #199
Correct.

Good questions.  There are several test types in libseccomp:
* simulated tests - These tests run the entire libseccomp stack against a [simulated BPF parser](https://github.com/seccomp/libseccomp/blob/master/tools/scmp_bpf_sim.c) and do not actually load the seccomp/BPF program into the kernel.  Any test in the [/tests](https://github.com/seccomp/libseccomp/tree/master/tests) folder name

[2020-01-15 15:45] whereswaldon commented on #199
I've attempted to implement this proposal in #202

[2020-01-20 14:14] pcmoore commented on #199
This should be fixed in #202, closing for now.

[2020-01-20 14:14] #199 closed

[2020-01-24 15:21] ncopa commented on #187
I think it would be great if we could also include the performance regression fixes from PR #180 (commits 21b98d85e8bfdb701a5f9afd54ff5175af910a45 and 19af04da86e9a4168a443f3563fc7aec8839edf0). Those patches applies cleanly to current v2.4.2 and we already backported them to alpine linux's edge (https://github.com/alpinelinux/aports/commit/9d67c32ea232c56ebe4ea9b62207222a94e898a3) and I want sugge

[2020-01-24 16:34] pcmoore commented on #187
Hi @ncopa, I understand your concern with the performance of the v2.4.z release, but I worry that the changes in PR #180 are too significant for patch release.  The changes in PR #180 will be present in v2.5.0.

[2020-01-24 16:46] drakenclimber commented on #187
I think that's the right answer as well.  But with RISC V support coming, the binary tree, and the performance improvements cited above, I think we have a strong case for putting more emphasis on getting the v2.5 release out the door.

[2020-01-24 17:48] pcmoore commented on #187
@drakenclimber we really need to get a v2.4.3 release out too.  Some time ago I recall us talking about you leading the charge on the maintenance releases, want to wrap up the two remaining v2.4.3 issues?

[2020-01-24 17:57] drakenclimber commented on #187
Doggonit... I need a time machine! :)  Yeah, I'll get working on v2.4.3 first thing next week.

[2020-01-24 19:09] pcmoore commented on #187
You and me both :)

[2020-01-30 17:06] pcmoore commented on #184
@atsampson is this working for you now with the master branch?  I think it should be resolved (and I'd like to close this issue), but I wanted to check with you first.

[2020-01-30 17:28] pcmoore opened #207 "RFE: move arch/ABI syscall mapping tables into a common location"
Currently updating the internal libseccomp syscall tables is a pain largely because the mapping information is spread across multiple files (e.g. "arch-*-syscalls.c").  I would like to propose we move all of the syscall mapping information into a common file which can then be used to generate the per-arch definitions at build time.

My current thought is to create a new CSV formatted file similar

[2020-01-30 17:29] pcmoore commented on #207
This would also make pre-computing hash tables, like suggested in PR #204, much easier across all the ABIs.

[2020-02-17 06:55] anthraxx commented on #187
Awesome news that 2.4.3 is progressing :smile_cat:

Just a tiny reminder, could we get just one more release be signed by @pcmoore so we have a cryptographic proof of @drakenclimber key, which is now embedded in the repo itself but yet the commit chain is unsigned? That would be absolutely awesome :tada:

PS: Congrats at @drakenclimber for the new duties :smile:

[2020-02-17 14:40] pcmoore commented on #187
Hi @anthraxx, we discussed this quite a bit over email, @drakenclimber will be managing and signing the "stable" releases, e.g. v2.4.3, and I will be managing and signing the major/minor releases, e.g. v2.5.0.  We have updated the README.md with our key fingerprints and only @drakenclimber and myself have write access to this repo on GitHub.  If that assurance isn't sufficient you may need to wait

[2020-02-17 15:28] anthraxx commented on #187
Well, write access to github != cryptographic proof which is the very requirement for appropriate trust graph handling when dealing with signing keys, otherwise you don't even need any signing keys if your trust model is based on the pure access control to github.
If this was only planned for v2.5.0 then we clearly had a different understanding of the discussion. This currently becomes problematic

[2020-02-17 15:32] pcmoore commented on #187
Once again @anthraxx, we've discussed all of this at length over email, if you are not satisfied with the current situation you may need to wait until v2.5.0.

[2020-02-17 15:33] anthraxx commented on #187
It's not be, its a shitload of users that are blocked from having this update, all that because a simple cryptographic proof is too much hassle.
You have signed the git tag of v2.4.2 yourself, so I don't see what the problem is in kindly asking to also git sign the future v2.4.3, I'm not talking about the release tarball.

[2020-02-17 15:58] pcmoore commented on #187
Since the v2.4.2 release, over three months ago, you are the only person and/or downstream packager who has come to us with this concern.  If you want to block Arch, and its users, from receiving the update, that is clearly your choice to make.  I have informed you of our policy multiple times now, and while you may not accept my current stance on this issue, I can assure you that your continued a

[2020-02-17 16:05] eli-schwartz commented on #187
@pcmoore, there is no cryptographically secure way of verifying that the following didn't happen:

- your github account was compromised by an unauthorized user
- your email address was compromised by an unauthorized user
- the unauthorized user has been communicating with people, claiming that some new person is authorized to sign releases
- the Github Releases tarball for the signed git tag was

[2020-02-17 16:07] anthraxx commented on #187
1. No, you personally have signed v2.4.2
[code]

2. There aren't too much distros that have picked up the latest release so far. Debian does. but they also use the git repo in a mirror + add kind of concept and as shown above the repo tag is done by you.
Other distros like fedora, nix, void, and alpine that have the latest version are all not using any signature checking at all. It's not my fault

[2020-02-19 17:43] drakenclimber commented on #187
Merged to the release-2.4 branch in commit https://github.com/seccomp/libseccomp/commit/c09346bb9847c2a1506bb5ed55afcf78d199bea6

[2020-02-19 17:43] #187 closed

[2020-02-20 01:57] pcmoore commented on #193
Hi @cpaelzer, any chance you could test the fix @drakenclimber made in https://github.com/seccomp/libseccomp/pull/206?

[2020-02-23 02:31] pcmoore commented on #193
This should be fixed in the release-2.4 branch by 266e1b4c28cc5fd2e45de32c1f3509b94761f3e6 and in master by 0a4c0300ebcc982cf419a4f7382ffc28e4792d2a.

[2020-02-24 11:36] cpaelzer commented on #193
@pcmoore sorry - I was on PTO last week and I missed the ping 27 days ago by @drakenclimber .

I revived my test of the initial report (see above) and was using a local build of current libsecomp master as of today, but the result is still the same:

[code]
So it didn't get worse, but the rule add with exact still didn't work - should it have worked?

[2020-02-24 14:07] pcmoore commented on #193
No problem @cpaelzer, thanks for checking back and giving it a test.  Unfortunately it would appear that more work is needed so I'm going to reopen this issue.

@drakenclimber and you okay to keep working on this with @cpaelzer?

[2020-02-24 14:47] drakenclimber commented on #193
Sure.  We can figure this out :)

[2020-02-24 15:16] pcmoore commented on #110
This should be resolved via #197, closing.

[2020-02-24 15:16] #110 closed

[2020-02-24 15:17] pcmoore commented on #116
See PR #152.

[2020-02-24 15:50] cpaelzer commented on #193
@drakenclimber AFAIK at the price of some personal data you can get a s390x VM [here](https://linuxone.cloud.marist.edu/cloud/#/register?flag=vm)

[2020-02-24 17:51] drakenclimber commented on #193
Thanks!  I'll give it a shot with my Oracle email.  We'll see what IBM thinks of that ;)

[2020-02-24 21:11] drakenclimber commented on #193
I was able to reserve an s390x machine.  Thanks, @cpaelzer.
[code]

Currently I am unable to reproduce the behavior you have reported.  Here is what I see when running libseccomp v2.4.1.  (I added some extra printfs in the library itself to verify I was running the correct library.)

[code]

And for completeness - I am seeing the exact same thing on the head of master.
[code]

[2020-02-24 21:28] drakenclimber commented on #193
Also, [this is the line](https://github.com/seccomp/libseccomp/blob/master/src/arch-s390x.c#L370) that is causing the failure.  I would like to hear @pcmoore's thoughts on this section of code.  It appears that s390 and x86 are designed to _always_ reject multiplexed-socket syscall **strict** rules that have an argument.  I'm not yet sure what changed from v2.4.1 to v2.4.2 for @cpaelzer to see dif

[2020-02-26 02:10] pcmoore commented on #193
When adding a "strict" rule (in other words, using the `*_exact(...)` rule APIs) if the libseccomp library can not add a rule *exactly* as supplied by the caller it will fail.  The non-strict/non-exact rule APIs allow the libseccomp library to do some minor "munging" to enable the operation to succeed where "munging" typically means arch/ABI related adjustments (e.g. multiplexed syscalls).

The re

[2020-02-26 16:23] drakenclimber commented on #193
Thanks!  That's how I was reading the situation, but it was nice to hear the official explanation.  Much appreciated.

I guess I don't understand how this worked for @cpaelzer in v2.4.1 and then broke in v2.4.2.  This code didn't change between v.2.4.1 and v2.4.2.  (There is [one commit](https://github.com/seccomp/libseccomp/commit/ce3dda9a1747cc6a4c044eafe5a2eb653c974919) that went into v2.4.0 th

[2020-02-27 13:52] cpaelzer commented on #193
@drakenclimber IIRC this was dependent on kernel and libseccomp. At the time I think I had a 5.3 kernel and on that the switch of 2.4.1->2.4.2 broke it. I got the same helpful explanation about `exact` by @pcmoore and eventually ended up changing the systemd behavior that was broken by the change.

We never tracked down the root cause changing it in 2.4.2 (see [here](https://github.com/seccomp/lib

[2020-03-02 15:22] drakenclimber commented on #193
Thanks for the help, @cpaelzer.  I think we've done what we can - both in systemd and here in libseccomp.

I'll close this one out for now.  Feel free to reach out if you have any further issues.

[2020-03-02 15:22] #193 closed

[2020-03-03 13:58] atsampson commented on #184
Yes - I can confirm that the tests work fine for me now on both amd64 and aarch64. Thanks very much!

[2020-03-03 13:59] pcmoore commented on #184
Great, thanks for the confirmation!

[2020-03-03 13:59] #184 closed

[2020-03-04 13:43] pcmoore opened #210 "BUG: test 53/55 failures/errors on aarch64"
It looks like we have a number test failures and errors on aarch64 with the current master branch; HEAD is 38f04da ("tests: add tests for the binary tree").

Test FAILUREs:
[code]

[code]

Test ERRORs:
[code]

[code]

[2020-03-04 13:44] pcmoore commented on #210
@drakenclimber I'm not sure if you have access to an aarch64 system (maybe a Raspberry Pi running a 64-bit build?), but I'm going to assign this one to you for obvious reasons.  If you don't have access to an aarch64 system let me know and I'll look into this.

[2020-03-04 14:21] pcmoore commented on #210
I did a little digging just now and it appears that test `53-sim-binary_tree` isn't generating any input and is returning with error code 16/EBUSY when run standalone.

[2020-03-04 14:26] pcmoore commented on #210
I added some quick instrumentation (below):
[code]
... which resulted in the following output:
[code]

[2020-03-04 14:38] drakenclimber commented on #210
Interesting.  My Raspberry Pi died a couple months ago, but this seems like a good excuse to order a new one.  The new 2GB version looks really tempting.

Until it arrives, I should be able to find an ARM machine within Oracle.  I'll start looking...

[2020-03-04 15:17] pcmoore commented on #210
Sounds good.  I'll be curious to hear how the new RPi 4 does, I've only got a 3B.

Regardless, if you can't find a system let me know.

[2020-03-04 21:02] drakenclimber commented on #210
aarch64's syscall table is sparse in several places, and thus `aarch64_syscall_resolve_num()` returns NULL if the syscall number can't be found in the `aarch64_syscall_table`.

Here's the exact list of syscall numbers that currently do not exist in aarch64:
[code]
I'm not really sure of the best way to proceed.  Should we limit test 53 and 55 only to x86_64?  I really want to ensure we're testing

[2020-03-04 21:34] pcmoore commented on #210
Bummer.  Although feeding in a bogus syscall number and expecting a valid result isn't quite fair ;)

One possibility would be to first make a call to `seccomp_syscall_resolve_num_arch(SCMP_ARCH_NATIVE, i)` to see if that syscall number exists; if it doesn't, you simply skip that non-existent syscall.

I think it is also worth noting that this is purely a test problem and not a general aarch64 pro

[2020-03-04 21:42] drakenclimber commented on #210
I knew I was playing with fire when I did it :).  This is a tricky feature to test because the end seccomp behavior shouldn't change when using a binary tree.  Only the way we traverse the bpf (or pfc) should change.

I thought about that, but that makes it really difficult to compare against a [pre-populated *.pfc](https://github.com/seccomp/libseccomp/blob/master/tests/55-basic-pfc_binary_tree.p

[2020-03-04 22:04] pcmoore commented on #210
Perhaps the answer is the for test 55 we use a smaller subset of syscalls (one dozen, two dozen?) such that we can do the number resolution from the syscall name to ensure they exist.

[2020-03-04 22:12] drakenclimber commented on #210
Yeah, I think that's likely the best and safest answer.  So obviously aarch64's syscall table has no holes up until 163.  Do you know what the other architecture's tables look like?

And do we feel confident that a binary tree of 24 or so syscalls fully tests the code?  (Probably more of a question for me than you.)  My gut feeling is yes, but I would like to look through it and run it through cov

[2020-03-04 22:36] pcmoore commented on #210
If only we had a pre-built table of syscall architectures ... oh wait, we do! ;)

Example using aarch64, sorted by syscall number:
[code]

A test that is unreliable, regardless of it's level of comprehensiveness isn't useful.  I would rather have a "good enough" test that is always consistent, everywhere it is run, every time it is run that we can later build upon.

[2020-03-05 14:13] drakenclimber commented on #210
I had a feeling there was a tool for that.  Thanks ;)

Agreed.  I got greedy and thought I could create the home run of tests.  Oh well, a "good enough" test in this case should be sufficient.  I'll get to work on it today.

[2020-03-05 14:37] pcmoore commented on #210
Hey, no worries, we've all fallen into that trap from time to time.  It's still a nice improvement and we've got at least a basic test; this could be *much* worse :)

[2020-03-05 15:06] piso77 commented on #210
FWIW, it fails on ppc64 too:

 batch name: 53-sim-binary_tree
 test mode:  c
 test type:  bpf-sim
Test 53-sim-binary_tree%%001-00001 result:   ERROR 53-sim-binary_tree rc=14
Test 53-sim-binary_tree%%002-00001 result:   ERROR 53-sim-binary_tree rc=14
Test 53-sim-binary_tree%%003-00001 result:   ERROR 53-sim-binary_tree rc=14
Test 53-sim-binary_tree%%004-00001 result:   ERROR 53-sim-binary_tree rc=1

[2020-03-05 15:09] piso77 commented on #210
And 55-basic-pfc_binary_tree too:

 batch name: 55-basic-pfc_binary_tree
 test mode:  c
 test type:  basic
Test 55-basic-pfc_binary_tree%%001-00001 result:   FAILURE 55-basic-pfc_binary_tree.sh rc=1

[2020-03-05 15:30] pcmoore commented on #210
Hi @piso77, thanks for the report.  Once @drakenclimber has a fix would you be willing to test it?

Unfortunately, I imagine there may be a few other ABIs that have similar failures; it is simply that aarch64 is the only non-x86 ABI that I have easy access to for testing purposes.  The fix we have been discussing in this thread should address all these failures (I think).

[2020-03-05 15:46] drakenclimber commented on #210
I wrote a [quick python script](https://gist.github.com/drakenclimber/f0f9c62913b71a365bb8b94f0679d536) to find the first hole in each architecture.

Here are the results:
[code]

Based upon these results, I think we should lower tests 53 and 55 to limit out at syscall number 12.  Note that there are a few architectures (mips, etc.) that will fail regardless of how low of a number we pick.

[2020-03-05 16:30] piso77 commented on #210
Sure, ping me when there's a patch available!

[2020-03-05 16:43] pcmoore commented on #210
How do you plan to address that?

[2020-03-05 16:44] drakenclimber commented on #210
I was thinking that I would check the native architecture, and if it matched arm, mips*, or x32, then we would skip the tests.  Not pretty, but I don't see an easy way to test the binary tree on those systems.

[2020-03-05 16:49] pcmoore commented on #210
If we are going to be skipping ABIs based on this, we might as well limit it to just x86_64.  Which is pretty bad.  I'm not sure if we have a precedence with any of the other tests, but I'm beginning to think the right way to fix this is to use a list of syscall names and not numbers.  It's a little more work in the test, but it should avoid this probably completely.

NOTE: the syscalls don't have

[2020-03-05 16:52] drakenclimber commented on #210
I believe you are correct.  This is a special situation.

I'm good with this choice.  I'm not yet sure how I can make it work for the pfc case (test 55), but I'll give it a shot!

[2020-03-11 00:51] pcmoore commented on #210
This was fixed in PR #211 and a follow-up fix that I hacked together (no PR) via dc2831e8fdcad71d565ba02abf732c8ffd260f66.

[2020-03-11 00:51] #210 closed

[2020-03-11 00:51] pcmoore commented on #116
Resolved with PR #152.

[2020-03-11 00:51] #116 closed

[2020-03-11 20:17] pcmoore opened #214 "RFE: enable the full range of architectures supported by Travis CI"
We support a variety of architectures/ABI and we should try to test as many as possible.  Since it is not practical for the developers to gain access to hardware for every ABI we support, try to leverage our existing Travis testing pipeline as much as possible.
* https://docs.travis-ci.com/user/multi-cpu-architectures

[2020-03-19 00:17] maxking commented on #61
Thanks @pcmoore for the comments on the PRs. I was hoping to help out on packaging the python bindings and started looking into it last night.

Some of the quick fixes were adding the MANIFEST.in and update the setup.py files. I was able to get the updated setup.py to work with `pip install`, but it sure needs more work to actually work with the development version (I haven't looked into the failu

[2020-03-19 19:33] pcmoore commented on #127
This looks pretty easy, I'm currently testing a PR which adds support for the badge and fixes a few trivial "alerts" caught by the service.

[2020-03-19 19:41] pcmoore commented on #73
It looks like SWAMP doesn't actually do any checking itself, it just provides a framework for using other tools to analyze the uploaded code.  Further, it doesn't appear that it offers any real automation or integration with GitHub so let's close this out for now.

[2020-03-19 19:41] #73 closed

[2020-03-19 19:44] pcmoore commented on #66
In an effort to keep our outstanding issue list tidy I'm going to close this out because I'm not aware of a mainstream Linux distro providing aarch64_be builds.  Sorry @michaelweiser :/

If someone finds an aarch64_be distro, please let me know and we will reopen this issue!

[2020-03-19 19:44] #66 closed

[2020-03-19 19:45] pcmoore commented on #105
While I will always have a soft spot for Alpha, it's unlikely we will ever see a mainstream, modern distro supporting this ABI (or new hardware for that matter) so let's close this issue.  Sorry @jduerstock :/

[2020-03-19 19:45] #105 closed

[2020-03-19 19:49] pcmoore commented on #93
I'm doing some ~~COVID-19~~spring cleaning and I think we've resolved your issue, is that correct @kloetzl?  I'm going to close this issue, but if I'm wrong and you are still seeing problems please let us know and we will reopen it!

[2020-03-19 19:49] #93 closed

[2020-03-19 20:04] pcmoore commented on #127
I should add, I already linked LGTM to the main libseccomp repo so all PRs will be checked moving forward.

[2020-03-19 20:12] michaelweiser commented on #66
No pressure. :) A BE distro is quite unlikely to happen now because there seems to have been no default-BE ARM hardware since the XScale IXP4xxs and even those are being run LE nowadays.

[2020-03-19 20:54] #127 closed

[2020-03-20 15:21] drakenclimber commented on #61
From @pcmoore's comment in Issue #216:

I like the idea of splitting the python bindings out of the main libseccomp package, and I also agree that it's fairly low priority for me.  If someone else is interested in picking up the work, I would gladly help review it, though :).

[2020-03-20 16:28] rhatdan commented on #61
BTW I agree that the python bindings should be in a separate repo. Although I am not volunteering.  :^)

[2020-03-20 17:04] maxking commented on #61
If someone with permissions to create a new repo under the seccomp org can set it up, I can pull the Python bindings out of the repo and create a PR.

There are couple of changes that I foresee:
- Use Python native build tooling, `setup.py build` should be enough
- Version numbers can be hardcoded in `setup.py` or be picked up from git tags instead (using setuptools-scm package) if need be.
- Dyna

[2020-03-20 18:13] pcmoore commented on #61
I'm going to tentatively mark this for v2.6, which really just means "sometime after we get v2.5 out the door".  Getting v2.5 finished is our priority right now, we can revisit this issue later.

[2020-03-21 12:37] Albert1st1 opened #220 "Q: why do libseccomp-2.4.3.tar.gz differ"
If i download libseccomp-2.4.3.tar.gz from releases or archive why do they differ.
If i check sha256sum the files differ.
https://github.com/seccomp/libseccomp/releases/download/v2.4.3/libseccomp-2.4.3.tar.gz
cf15d1421997fac45b936515af61d209c4fd788af11005d212b3d0fd71e7991d

https://github.com/seccomp/libseccomp/archive/v2.4.3/libseccomp-2.4.3.tar.gz
4d86f0bd0847795bf7f7bf6e44cb73edf4417d84f6d8848c

[2020-03-21 14:50] pcmoore commented on #220
Hi @Albert1st1, unfortunately the GH archive links are dynamically created by GH and the checksums are known to change from time to time; if you do a search on this problem you will see several projects that have similar problems.

This is one of the many reasons why we create our own tarballs and include them as part of the release.  The tarballs we provide are *not* dynamically generated, they a

[2020-03-21 14:50] #220 closed

[2020-03-21 23:32] pcmoore opened #221 "BUG: arch-syscall-validate is missing support for parisc and parisc64"
For some reason it doesn't look like we ever had support for parisc or parisc64 in arch-syscall-validate - oops!  We need to fix this ASAP.

[2020-03-22 00:13] #221 closed

[2020-03-22 00:13] pcmoore commented on #221
Merged via c61950e1d9725fe2956651d91b3b67709006517f

[2020-03-23 15:19] pcmoore commented on #207
Resolved with PR #223.

[2020-03-23 15:19] #207 closed

[2020-03-23 18:26] Albert1st1 commented on #220
@pcmoore  Thank you very much for the explanation.

[2020-03-23 18:36] pcmoore opened #224 "BUG: Travis CI warnings"
Despite working, the Travis CI service reports one error and two warnings with our config:
* Error

* Warnings

[2020-03-23 18:42] pcmoore commented on #178
Testing this again just now, it appears that x32, mips, mips64, and mips64n32 are the worst with parisc64 slightly affected.

[2020-03-23 19:08] pcmoore commented on #178
Hmm, nevermind, it looks like there are still some issues with the arch-syscall-validate script.

[2020-03-23 20:44] pcmoore commented on #178
... and parisc/parisc64 isn't quite right.  The good news is that it would appear this particular bug is now gone :)

Once I fix the other stuff I'll try the reproducer again, but I think we might be able to close out this issue.

[2020-03-23 22:38] pcmoore commented on #224
The sudo problem is fixed with 5c6d90f2645d06fe56eecbb3bf1de366f33e7af0.

[2020-03-23 23:33] pcmoore commented on #224
Given #61, we may want to just sit on this until we move the Python bindings into their own repository.

[2020-03-24 00:48] pcmoore commented on #178
This is still a problem, but I believe I have a fix (essentially move the MIPS ABIs over to the new syscall.tbl format).

[2020-03-24 01:34] pcmoore commented on #178
This should be fixed in afc713a8fe289059a18350ab550ca28056356196.

[2020-03-24 01:34] #178 closed

[2020-03-24 01:40] pcmoore commented on #97
Hi @topimiettinen, sorry it has taken so long to get to this, but I think it's time we fix this.

@drakenclimber this one is going to be a doozy.  All of the libseccomp APIs should have manpages at this point (if they don't we need to create an issue for that), with all of the manpages having some hand-wavy "negative values on error" comments in the RETURN VALUE section.  I think we need to do the

[2020-03-24 02:08] drakenclimber commented on #97
Dang.... I grudgingly agree with everything you wrote above, especially the effort required :).  Getting the return codes right, and then documenting them will be a really big effort.

And yes, while not glamorous work, I think it's critical.  I have been working on some cgroup stuff and we recently ran across a container implementation that completely misunderstood a cgroup feature... but there w

[2020-03-24 08:59] topimiettinen commented on #97
It's great to see activity on this issue! I'm not against a thorough review, but the original request was limited only to be able to distinguish different failure modes, which is somewhat orthogonal. The review would certainly help, even prerequisite to a degree I think.

[2020-03-24 13:46] pcmoore commented on #97
We need to do the review at some point, and it might as well be now.  The longer we hold off, the less useful the error codes will become for callers and the entire point of libseccomp is to make this stuff easier to use :)

Yeah, this is one of the reasons this issue has sat for so long, but I've been putting it off long enough (at least @drakenclimber can say he has been putting it off for less

[2020-03-26 08:00] xantares opened #228 "BUG: utimensat_time64 returns EPERM on x86_64 via an x86 binary"
I have trouble running the futimens call of glibc(2.31) which ends up calling utimensat_time64 through docker via a 32 bits binary (using multilib gcc):

[code]

I'm using an archlinux 64 bits box with libseccomp 2.4.2 (I also tried git master):
[code]

to reproduce the issue use https://github.com/xantares/test-seccomp-time64:
[code]

however this is fine if I compile the binary in 64 bits mode (

[2020-03-26 14:53] pcmoore commented on #228
Hi @xantares, a couple of questions to help us understand your problems a bit better:
* What version of libseccomp are you using?
* Is your Docker configuration blocking this via Docker's libseccomp configuration?

[2020-03-26 14:57] pcmoore commented on #97
As a bit of a positive, it looks like libseccomp really only uses nine unique errno values (according to a very crude check):
[code]
... this should help shrink the problem space a bit, especially if we can agree to common semantic value for each error code across the library (which we definitely should do).

[2020-03-26 14:58] xantares commented on #228
- it's libseccomp 2.4.2, but I also tried master
- I'm using docker with default settings from my distro, I think it's using libseccomp:
[code]

[2020-03-26 15:13] pcmoore commented on #228
If I'm understanding the Docker command line correctly, it looks like your reproducer works if you disable the seccomp filter, but it fails if you leave the default Docker seccomp filter enabled?

I'm not a docker expert, but looking at their seccomp profile (below) it appears as though they don't allow the `utimensat_time64()` syscall.
* https://github.com/moby/moby/blob/master/profiles/seccomp/d

[2020-03-26 15:13] #228 closed

[2020-03-26 15:14] xantares commented on #228
ok, thanks

[2020-03-30 14:33] kloetzl commented on #93
Thanks for reminding me, I tested a bit on my end.

This issue is mostly fixed, with a small snag. The program no longer hangs in limbo when an invalid syscall is encountered, yay! With `SCMP_ACT_TRAP` one can even produce the name of the bad syscall. However, OpenMP overwrites my signal handler, so it falls back to the default error message once multiple threads are spawned. From a perspective of

[2020-03-30 20:22] pcmoore commented on #93
Ah, yes, I'm not sure there is much we can about the signal handler getting overwritten in libseccomp, sorry about that.

Thanks for letting us know the rest of it worked!

[2020-04-01 20:35] pcmoore commented on #118
Closed with PR #225.

[2020-04-01 20:35] #118 closed

[2020-04-02 01:20] pcmoore commented on #97
This is a bit later than intended, but here is a full list of the functions making up the libseccomp API:
[code]

... of these functions, we only need to worry ourselves about the functions returning "int".

[2020-04-02 01:27] pcmoore commented on #97
Possible groupings of functions that should have similar code paths and return values.
* Group A
[code]
* Group B
[code]
* Group C
[code]
* Group D
[code]
* Group E
[code]
* Group F
[code]

... if the function is not in one of the groups above, it is likely unique in it's code path and/or return value.

[2020-04-02 11:30] topimiettinen commented on #97
Group C only returns __NR_SCMP_ERROR.

Group D can return one of EINVAL, EPERM, EOPNOTSUPP, ENOMEM, EDOM, EFAULT, EEXIST.

seccomp_load() can return EINVAL, ENOMEM, ESRCH and also errno values from prctl() (only EACCES, EFAULT, EINVAL for PR_SET_NO_NEW_PRIVS and PR_SET_SECCOMP) and seccomp() (EACCES, EFAULT, EINVAL, ENOMEM, ESRCH) syscalls according to their manual pages.

[2020-04-02 13:13] pcmoore commented on #97
When it comes to libseccomp passing syscall errors back to the caller, e.g. prctl() and seccomp(), I'm thinking we just need to hide those behind a single errno value (perhaps ENOSYS?) so that libseccomp isn't affected by any changes in the kernel (or ABI differences).

If this becomes a problem for debugging, perhaps we could introduce a new attr which would pass the errno value directly back to

[2020-04-02 14:25] topimiettinen commented on #97
Possibly, but then it would be nice to make sure there is no ABI/API breakage if the users of libseccomp are already expecting certain errno values. The original problem was that some system calls exist only on some architectures (like `ugetrlimit` only on x86_32) but this couldn't be distinguished from a mistyped system call name, so different (possibly synthetic) error codes would be needed.

[2020-04-02 14:47] pcmoore commented on #97
Well, as we've said previously, we currently don't really guarantee specific errno values, just "negative values on failure" so while it would be unfortunate to break users that are currently making assumptions about specific errno values, I think changing things to provide a strong errno guarantee across kernel versions and ABIs in the future is a worthwhile tradeoff.

[2020-04-02 16:57] drakenclimber commented on #97
I agree.

Once this evaluation is complete and we update the errno values on failures, I would feel more comfortable making some sort of guarantee of the errno values returned.

[2020-04-02 23:46] pcmoore commented on #97
The grouping idea maybe wasn't the best, so let's start a list to keep track of this all _(I will keep updating this as we progress)_:

- [ ] **seccomp_reset**

- [ ] **seccomp_merge**

- [ ] **seccomp_arch_exist**

- [ ] **seccomp_arch_add**

- [ ] **seccomp_arch_remove**

- [ ] **seccomp_load**
Currently returns: EINVAL, ENOMEM, ESRCH + return codes from prctl() and seccomp().
*We likely want to

[2020-04-03 00:22] pcmoore commented on #97
Now that we have a list of what functions returns what error codes I'm feeling a bit better about this, especially since we are already fairly consistent with how we use our error codes.  That last bit should help tremendously.

I'm going to start a PR so we can start collecting fixes and feedback on the changes, I'll post that here soon.

[2020-04-03 01:11] pcmoore commented on #97
Given the rather "special" nature of ENOSYS, I'm having reservations about using the errno as our kernel/libc catch-all.  I'll have to take a look at other values, does anyone have any strong feelings/thoughts on this?

[2020-04-03 01:12] pcmoore commented on #97
There is still a lot missing, mostly manpage edits and code comments (not to mention testing), but you can look at the following branch to get an idea of what I'm thinking:
* https://github.com/pcmoore/misc-libseccomp/tree/working-rc

[2020-04-03 01:17] pcmoore commented on #97
What about EIO?

[2020-04-07 12:28] topimiettinen commented on #97
I don't know if that would make the error much more actionable. How about instead extending the API with functions which do not use errno values, but for example:
- SCMP_ERROR_UNKNOWN_SYSCALL: the syscall is not known by libseccomp: caller can use this to reject user input (e.g. typo in syscall name)
- SCMP_ERROR_SYSCALL_NOT_FOR_THIS_ARCH: the syscall is known by libseccomp but not available here:

[2020-04-07 15:46] pcmoore commented on #97
Well, before we could even consider doing something like that (and I'm not sure we want to do that) we need to settle on stable and supported return codes.  That's what we are working on here and what we are targeting for v2.5.

Let's get the stable/supported return codes in v2.5 and we can see how that goes, if we need to do something additional we can consider it for v2.6.

[2020-04-10 18:39] oxr463 commented on #195
You could also use GitHub Pages for this. Either way, let me know and I can knock it out pretty quick.

[2020-04-10 18:41] oxr463 commented on #185
@jelly have you begun working on this yet? If not I will pursue the `pandoc` option with markdown.

[2020-04-10 19:07] oxr463 commented on #83
[code]

Note: since the repository is hosted on GitHub, I chose the GitHub-flavored Markdown, but we can always change that.

[code]

[2020-04-10 19:34] oxr463 commented on #195
Read the Docs URL: https://libseccomp.readthedocs.io/en/latest/
Read the Docs Project URL: https://readthedocs.org/projects/libseccomp/

This needs to be owned by a GitHub Project maintainer.

Also, we can use [Mkdocs](https://www.mkdocs.org) for generating the docs using markdown, instead of reStructuredText and Sphinx.

[2020-04-11 14:09] oxr463 commented on #195
See: https://readthedocs.org/projects/libseccomp/builds/10815405/

[2020-04-11 20:50] oxr463 commented on #83
file doc/man/man?/*.md
doc/man/man1/scmp_sys_resolver.1.md:                    ReStructuredText file, ASCII text
doc/man/man3/seccomp_api_get.3.md:                      ReStructuredText file, ASCII text
doc/man/man3/seccomp_api_set.3.md:                      very short file (no magic)
doc/man/man3/seccomp_arch_add.3.md:                     ReStructuredText file, ASCII text
doc/man/man3/seccomp_arc

[2020-04-13 00:21] pcmoore commented on #195
Hi @oxr463, I'm really happy to see you jumping in to help with the documentation - that is very good news!  Right now we're trying to stay focused on getting v2.5.0 released, but I will definitely take you up your offer to help if you don't mind waiting a bit?

[2020-04-13 00:23] pcmoore commented on #83
Since it looks like we may have some help here, I'm moving this into the v2.6.0 milestone - thanks @oxr463!

[2020-04-14 11:59] onitake opened #231 "RFE: Support for sparc and sh (and possibly other architectures)"
The Linux kernel supports SECCOMP on sparc/sparc64 and sh, but it seems libseccomp refuses to compile: https://buildd.debian.org/status/fetch.php?pkg=libseccomp&arch=sparc64&ver=2.4.3-1&stamp=1584054619&raw=0
[code]

HAVE_ARCH_SECCOMP_FILTER is missing on these architectures. Is it required by libseccomp? If SECCOMP is enough, please advise on what needs to be done to add support for these archite

[2020-04-14 12:50] pcmoore commented on #231
A few comments:
* The fact that libseccomp fails to build on sparc/sparc64/sh is a known problem as libseccomp lacks awareness of the architectures/ABIs and as a result it can't function.  Believe it or not, the build failure is a protection mechanism so that people don't attempt to use libseccomp on architectures where it can not function properly.
* For a variety of reasons, libseccomp needs to

[2020-04-14 12:52] pcmoore commented on #231
Based on previous experience with similar issues (adding support for a new ABI), I'm going to go ahead and close this issue now, but please feel free to file a new issue when the upstream Linux Kernel has gained SECCOMP_FILTER support for a new ABI.

[2020-04-14 12:52] #231 closed

[2020-04-14 15:43] onitake commented on #231
From your response, I gather that libseccomp requires HAVE_ARCH_SECCOMP_FILTER.
Is this correct? SECCOMP (i.e. SECCOMP_SET_MODE_STRICT) alone is not enough?

[2020-04-14 20:30] pcmoore commented on #231
Yes, that is correct.  If they ABI doesn't enable HAVE_ARCH_SECCOMP_FILTER then the kernel will not support loading a seccomp BPF filter (the filter that libseccomp generates).

We'll be happy to help you add support to libseccomp once the Linux Kernel gains the necessary support, but as I don't have any sparc/sparc64/sh hardware I'm not really able to help with the kernel side of things.

[2020-04-15 16:14] #214 closed

[2020-04-17 08:35] paulmenzel opened #233 "../src/core/execute.c:1650:13: warning: unused variable ‘r’ [-Wunused-variable]"
Running `make check-build` gives the warning below.

[code]

[2020-04-17 08:36] paulmenzel commented on #233
Wrong screen window. Stupid me.

[2020-04-17 08:36] #233 closed

[2020-04-17 12:38] giuseppe commented on #123
isn't that unsafe only with threaded programs?

In that case, couldn't you temporarily block signals?

[2020-05-08 08:06] Kangenbo opened #234 "BUG: use syscall getrlimit error on aarch64"
I have trouble when using getrlimit in libseccomp-v2.4.3. It's a EPERM error.
I use strace to track the error as follow:

`getrlimit(RLIMIT_NOFILE,****` 0xffffe2df4370) = -1 EPERM (Operation not permitted)

The linux kernel i use is 4.19 and i find a commits which update the internal syscall tables to Linux v5.4-rc4[https://github.com/seccomp/libseccomp/commit/bf747eb21e428c2b3ead6ebcca27951b68196

[2020-05-08 14:08] drakenclimber commented on #234
That commit (link above was incorrect, by the way - here's the [correct link](https://github.com/seccomp/libseccomp/commit/bf747eb21e428c2b3ead6ebcca27951b681963a0)) added support for syscalls that were added in the v5.4-rc4 kernel.  Linux goes out of its way to ensure a consistent API and backward compatibility, so this commit should have no effect on older kernels.

I would expect v2.4.3 of libs

[2020-05-09 02:52] Kangenbo commented on #234
Sorry the link is incorrect...For the correct link, there is a change about getrlimit
![image](https://user-images.githubusercontent.com/33171553/81462133-e216c180-91e2-11ea-96fa-d33e3b1fb57b.png)
If i return it back, use { "getrlimit", 163 }, the error will be fixed. Is this change correct?

[2020-05-11 14:10] drakenclimber commented on #234
Are you on arm64 perhaps?
https://bugs.launchpad.net/ubuntu/+source/libseccomp/+bug/1877633
https://github.com/seccomp/libseccomp/pull/235#issuecomment-626479305

[2020-05-12 06:52] Kangenbo commented on #234
Yes！the same problem, it can be fixed by alexmurray's commits. Will you merge it to master?

[2020-05-12 13:57] drakenclimber commented on #234
Awesome!  Yes, we'll definitely resolve @alexmurray's issue.  I will review the patchset soon.

Thanks for the bug report.

[2020-05-12 21:31] pcmoore commented on #234
Actually, let's unlink issue #235 and use this for the v2.4.4 milestone.

[2020-05-12 21:34] pcmoore commented on #234
Correction, #224 is a PR not an issue (GH treats them mostly the same).  The reason for unlinking that PR is that it is for the master branch and will not apply cleanly to the v2.4.x release branch; a separate v2.4.x specific patch will need to be developed.

[2020-05-13 00:11] drakenclimber opened #236 "BUG: Use architecture specific header to generate syscalls for aarch64"
See pull request #235

Note that the aforementioned pull request cannot be directly backported to 2.4.x due to the gperf and syscalls.csv changes in 2.5.  While straightforward, the change will need to be entirely redone for the old method of managing arch-specific syscalls.

[2020-05-13 00:12] drakenclimber commented on #234
Good call.

[2020-05-13 01:20] pcmoore commented on #97
I got pulled off this for a while due to other work priorities and some kernel stuff, but now that I'm back on libseccomp I'm realizing that using EIO here seems wrong.  Let me think a bit more on this.

[2020-05-13 01:32] pcmoore commented on #97
What about ECANCELED as the catch-all kernel error code?

I'm curious what you think @drakenclimber, you've been quiet on this for a while.

[2020-05-13 03:08] Kangenbo commented on #234
Nice. Thanks for your help, looking forward to seeing v2.4.4

[2020-05-13 13:14] drakenclimber commented on #97
Same here.  Things have been a little hectic lately :/.

Sure.  I want to read through the whole thread again, and then I'll chime in.

[2020-05-13 15:44] drakenclimber commented on #97
I admit I wasn't tremendously familiar with ECANCELED.  I briefly looked through the kernel source for its usage and did a google search as well.  ECANCELED has no collisions with previous libseccomp, prctl(), or other APIs we've used, and I think it can reasonably encapsulate whatever error the kernel throws at us.

tl;dr - I'm cool with ECANCELED as our catch-all for kernel errors.

[2020-05-19 00:41] pcmoore commented on #97
Great, thanks.  I've got a half-baked patchset I'll finish up and submit as a PR for review.

[2020-05-20 01:03] pcmoore opened #238 "BUG: src/system.c should check for API support before failing"
Many of the system.c functions check the `_support_XXX` variables before performing an operation that is protected by the API levels, but if the support state is unknown/untested (indicated by a value of `-1`) the function fails.

The current workaround is to have the caller do a `seccomp_api_get()` call beforehand, but that shouldn't be necessary; the system.c function should test for support on

[2020-05-20 15:05] drakenclimber commented on #164
I ran `arch-syscall-validate` against the head of Linus' kernel branch, and it reports that libseccomp is fully up to date on the v5.7.0-rc6 syscalls.

But I'm still a little nervous that we might have missed something since we made some major changes here - both the *.csv file as well as the gperf changes.  @pcmoore do you have any thoughts on how we can reduce this "risk"?  Going through each sy

[2020-05-27 13:02] pcmoore commented on #164
Thanks for checking this.  I've got a personal TODO item to setup a job which runs this regularly against Linus' tree and reports back but needless to say I haven't had time to do that yet.

I would vote to leave this issue open right up until we do the v2.5.0 release, mostly as a reminder to check this one last time.  Are you okay with that @drakenclimber?

Agreed on both the worry and the desire

[2020-05-27 14:09] drakenclimber commented on #164
Yes, definitely.  I had a couple free minutes a week or so ago and wanted to see the status of this issue.  Thankfully, things are looking pretty good.

Good idea.  I'll try to hack something together.  Thanks.

[2020-05-27 19:47] drakenclimber commented on #164
[Here's](https://gist.github.com/drakenclimber/5ce9cf25d38f1742823af9060db14869) a script that uses arch-syscall-dump to build up a csv.  I have ironed out most of the quirks (e.g. mips using an offset of 4000 for its syscalls), but there are still several syscalls that are being flagged.  Either we'll have to improve the script :) - or check them by hand :(.

I have [uploaded the *.csv it generat

[2020-05-27 19:53] drakenclimber commented on #164
Oh, and we should consider making some small tweaks to the [mainline csv](https://github.com/seccomp/libseccomp/blob/master/src/syscalls.csv).  Github can now display csv files if you don't confuse it too much.  Because of the comma in the comment line, `# kernel: 5.6.0 (Mon, 11 May 2020 04:28:57 +0000)`, github refuses to display the file as a csv.

[2020-05-28 04:30] Xyene opened #240 "BUG: gen_bpf_generate() doesn't properly handle failure"
Hi,

First off, thanks for libseccomp -- we've been happily using it in production for several years now, and haven't run into any issues (until now). I'm not sure if this is a bug in our code, a misunderstanding of the documentation, or something else -- but I've spent the past month trying to track this down to no avail.

We recently upgraded packages in our Docker containers, which included an

[2020-05-28 13:43] pcmoore commented on #164
Don't leave me hanging here, how did it compare? :)

Oooh, that's nice!  Look at the [GH CSV docs](https://help.github.com/en/github/managing-files-in-a-repository/rendering-csv-and-tsv-data) I'm wondering if we shouldn't remove that header almost entirely and stick to a single header line?  Although I do like having the kernel version and date in there (and not just the git log), maybe something

[2020-05-28 14:12] pcmoore commented on #240
Hi @Xyene,

There aren't a lot of places that return -EINVAL in the seccomp_load() code path.  Based on a quick examination of the libseccomp v2.4.3 code it looks like it is either due to an invalid `scmp_filter_ctx` or the kernel complaining about the `prctl(...)` call which loads the filter.

Considering that v2.4.3 generally works, and you haven't changed your kernel, it seems doubtful that the

[2020-05-28 14:14] pcmoore commented on #240
Also, while this doesn't help for v2.4.3, one of the improvements we are targeting for the *almost ready* v2.5.0 release is improved documentation and handling of error codes.

[2020-05-28 14:19] drakenclimber commented on #240
Thank you for verifying that your code and the underlying kernel haven't changed.  That should help to track down the problem.

Your filter looks reasonable to me.

I looked through the v2.4.3 `seccomp_load()` code, and I think there are only two places where libseccomp generates a return code of `-EINVAL`:
*  `seccomp_load()` on [line 283](https://github.com/seccomp/libseccomp/blob/v2.4.3/src/api

[2020-05-28 14:33] pcmoore commented on #240
Keep in mind that any failures found in `gen_bpf_generate(...)`, or below, are effectively combined into -ENOMEM by `sys_filter_load(...)` on [src/system.c:267](https://github.com/seccomp/libseccomp/blob/v2.4.3/src/system.c#L267).

I hate falling back to "memory corruption!" so quickly, but it looks like that may be the case here.

[2020-05-28 15:19] drakenclimber commented on #164
[code]

[2020-05-28 15:33] drakenclimber commented on #164
I would estimate 80% of the syscalls match exactly.  A few percent aren't matching because of the parisc syscalls not matching (largely due to PNR), and several mismatches because my alphabetic sorting isn't matching the sorting of the mainline csv.

[2020-05-28 16:00] drakenclimber commented on #164
That works for me.  And if we are good citizens, we can make sure to list the kernel info in the git commit as well.  I think that should be sufficient.

[2020-05-29 21:48] Xyene commented on #240
Thanks for the quick and detailed replies! They've generated several avenues of exploration :slightly_smiling_face:

No, just this. Our unit and integration tests continue to pass, and apart from this very rare `EINVAL`, no errors are being logged in prod. This certainly makes it puzzling; I also suspected memory corruption, but haven't been able to find any evidence to support it :slightly_frowni

[2020-05-31 19:11] jelly commented on #185
I have a branch here https://github.com/jelly/libseccomp/tree/pydocs but did not follow up

[2020-06-01 01:11] oxr463 commented on #185
I've already converted the man pages to markdown, but if needed they can easily be converted to reStructuredText.

[2020-06-01 10:58] jelly commented on #185
Cool, it's up to the maintainer to decide what he prefers :)

[2020-06-01 17:00] drakenclimber opened #243 "RFE: Allow TSYNC and USER_NOTIF together"
We need to add support for this kernel commit which will likely be available in kernel v5.7

    commit 51891498f2da78ee64dfad88fa53c9e85fb50abf
    Author: Tycho Andersen <tycho@tycho.ws>
    Date:   Wed Mar 4 11:05:17 2020 -0700

    seccomp: allow TSYNC and USER_NOTIF together

    The restriction introduced in 7a0df7fbc145 ("seccomp: Make NEW_LISTENER and
    TSYNC flags exclusive") is mostly

[2020-06-01 18:34] pcmoore commented on #238
Closed via #242.

[2020-06-01 18:34] #238 closed

[2020-06-03 02:43] cam-pypro commented on #61
Making libseccomp pip-installable would be very helpful for me as well. Here is my amateur work around using make/poetry/docker (and patching setup.py) if anybody else is trying to figure it out. I also tweaked/set build parameters so it wouldn't require sudo.

**build-seccomp/setup.py** (slightly modified `/src/python/setup.py`):
[code]

**Makefile**:
[code]

**Dockerfile** (I have an equivalent

[2020-06-06 12:45] pcmoore commented on #61
I just wanted to share a "thank you" for all the help on this.  @drakenclimber and myself are still busy trying to get the v2.5.0 release finished so this may not see much attention from us until that is done, but I can promise you we are not forgetting about this :)

[2020-06-06 13:08] pcmoore commented on #185
Thanks everyone for continuing to look into this, I really appreciate the help!

@drakenclimber and I are busy trying to get the v2.5.0 release out the door, once we finish with that we can start taking a close look at this.  Thanks for your patience!

[2020-06-06 13:09] pcmoore commented on #185
Related issue: https://github.com/seccomp/libseccomp/issues/61

[2020-06-06 13:12] pcmoore commented on #240
Hi @Xyene - since it's been about a week, I just wanted to check and see if there was anything new that you've found?

[2020-06-06 20:44] pcmoore opened #245 "BUG: the seccomp_attr_get/set(3) manpages do not document SCMP_FLTATR_CTL_OPTIMIZE"
Not much to say beyond the subject line.  @drakenclimber do you want to take this one?

[2020-06-06 20:50] Xyene commented on #240
Not yet, unfortunately. After adding in a patch to `seccomp_export_pfc`, it's been silent. Yesterday I pushed that patch to all our VMs (rather than just a test one) in hopes of capturing the issue when it does eventually occur.

[2020-06-08 17:08] drakenclimber commented on #245
Sure

[2020-06-09 18:34] drakenclimber commented on #234
I committed the fix for this bug to the v2.4 release branch in this commit https://github.com/seccomp/libseccomp/commit/70d4916082a1d3a1ddef4e858be30cff6bbbb123.  @Kangenbo let me know if have any other issues.

This patch will be available in the upcoming [v2.4.4](https://github.com/seccomp/libseccomp/milestone/9) release.

[2020-06-09 18:34] #234 closed

[2020-06-09 18:35] drakenclimber commented on #236
Pull request #239 resolved this issue.  See commit https://github.com/seccomp/libseccomp/commit/70d4916082a1d3a1ddef4e858be30cff6bbbb123

[2020-06-09 18:35] #236 closed

[2020-06-09 18:42] drakenclimber commented on #164
I dug further into the syscall differences between v2.4.3 and the head of master.

- First, I re-sorted the syscalls to remove those inconsistencies.  This removed ~20 or so diffs.
- Then I went line by line.  All of the remaining diffs (~45 or so) are due to PNR differences in the parisc or parisc64 lines.  Since you built the syscalls.csv from Linus' latest tree, I think the head of master is be

[2020-06-10 01:02] pcmoore commented on #164
Great, thank you @drakenclimber.  I know it isn't the most interesting thing to do, but it is *very* important.

Looking at the git log for "src/arch-parisc.c" I only see one name, maybe try sending Helge some email?  If push comes to shove, parisc/parisc64 are niche ABIs and if we can't verify things "soonish" I'm okay moving ahead with the release.

This concerns me slightly, we should follow up

[2020-06-11 14:33] drakenclimber commented on #164
Awesome!  Thanks so much for the help @hdeller!

I'll backport the parisc syscall changes to v2.4 and CC you on the patchset if you're okay with that.

[2020-06-11 14:39] drakenclimber opened #248 "RFE: Update parisc syscalls to match v5.x kernel"
See [this comment](https://github.com/seccomp/libseccomp/issues/164#issuecomment-642274315) in Issue #164.

[2020-06-13 03:18] vt-alt opened #249 "Q: what are pseudo syscalls?"
There are two syscalls for x86 with are essentially the same differing only in output buffer. That is `newfstatat` and `fstatat64`.

I'd expect if I set a rule for either of these names with `seccomp_arch_add` (inexact rule) correct syscalls would be handled for appropriate arches.

But what is actually happening is quite puzzling.

When I set a rule (for native and x86 arch) for `fstatat64` pfc l

[2020-06-14 17:41] pcmoore commented on #249
Hi @vt-alt.  The quick answer is that the negative pseudo-syscalls are placeholder syscalls for architectures/ABIs which do not support that particular syscall (some syscalls are not common across all ABIs on Linux).

For example, in the `fstatat64()` case, the syscall is defined on 32-bit x86 (syscall number 300) but it is not defined on 64-bit x86_64.  The opposite is true for the `newfsatat()`

[2020-06-14 17:41] #249 closed

[2020-06-15 02:52] vt-alt commented on #249
There are two questions.

1. Why check for non-existent syscall 4294957285 in actually generated bpf?
This would impact performance. On x86 there is no such check for pseudo syscall.
Also, `seccomp_rule_add` reported success installing `fstatat64` on x86_64. This would give a false sense of security if people not actually check generated bpf code.

2. Why not alias `newfstatat` and `fstatat64`? Th

[2020-06-15 12:43] pcmoore commented on #249
We shouldn't, and we didn't used to do that, but it looks like current libseccomp has a bug here.

We've considered adding an abstraction layer on top of the core libseccomp filtering API, but there are higher priority items.

[2020-06-15 12:45] pcmoore opened #252 "BUG: don't generate BPF for pseudo-syscalls"
See issue #249, specifically [this comment](https://github.com/seccomp/libseccomp/issues/249#issuecomment-644111675):

Credit to @vt-alt for reporting this bug.

[2020-06-15 12:46] pcmoore commented on #249
Thanks for reporting this @vt-alt, I've created a new issue #252 to track this problem, feel free to follow that issue for updates.

[2020-06-15 12:48] pcmoore commented on #252
Trivial reproducer:
[code]

[2020-06-15 12:53] pcmoore commented on #252
To be clear, we should still emit the pseudo-syscalls in the PFC, for debugging purposes, but we shouldn't emit a (useless) BPF filter rule.

[2020-06-15 13:16] vt-alt commented on #252
Thanks for creating the issue from my report.

Please rethink this. I believe this will only complicate and obscure things if PFC will not reflect BPF.

[2020-06-15 13:20] pcmoore commented on #252
If the syscall is missing from the PFC we will receive a number of bogus bug reports talking about how the library is failing to add a filter for (non-existent) syscalls.

For those who are understand the concept of the pseudo-syscalls it is a trivial exercise to remove them from the PFC output.  It's also worth mentioning that the PFC output is not intended to be an exact copy of the BPF output,

[2020-06-15 13:25] pcmoore opened #253 "BUG: seccomp_arch_add(3) manpage does not list all the ABI macros"
We should list all of the supported ABI macros in the `seccomp_arch_add(3)` manpage.

[2020-06-15 13:48] vt-alt commented on #252
But, then it will not visualize _generated_ filter code since in the generated code pseudo syscalls should be absent.

It's much easier to understand that pseudo syscall checks should not be present in the code (as in 'optimized out', because ''there are no such syscalls for the arch'), than the logic difference (presence and absence of conditionals) in the visualization of code and the actual cod

[2020-06-15 13:50] pcmoore commented on #252
I understand your concern @vt-alt, and perhaps in a future release we do that with PFC, but it is my opinion that removing the pseudo-syscalls from the PFC output is a mistake.

@drakenclimber do you have any strong opinions on this?

[2020-06-15 14:00] pcmoore commented on #252
Revised reproducer for x86_64:
[code]

[2020-06-15 14:02] pcmoore commented on #252
Not yet fully tested, but this may be the fix - can you verify this is reasonable for the balanced tree optimization algorithm @drakenclimber?
[code]

[2020-06-15 15:54] drakenclimber commented on #252
Not really, but I think the root of the problem is that the PFC output is being used in multiple, divergent ways:

1. As mentioned above, it's an easy way for new(er) users to roughly verify their filter
2. More advanced users are expecting it to be a close approximation of the actual BPF filter

Perhaps we could add a `--no-pseudo-syscalls` flag to the PFC logic?  Then it can stay the same for be

[2020-06-15 15:57] drakenclimber commented on #252
Will do.  I want to see if I can make an automated test that will reproduce this scenario.

[2020-06-15 16:29] drakenclimber commented on #252
And of course I'll start with the reproducer test you have above.  Thanks!

[2020-06-15 18:08] drakenclimber commented on #252
The binary tree precalculates when the accumulator needs to be modified, and this is how it knows to insert the `jge` logic.  Yanking out syscalls (like the proposal above) while building the filter breaks this logic.

I haven't fully tested my changes yet either :), but I'm pretty sure we will need something like this to make the binary tree work with the removal of pseudo-syscalls.  I generated

[2020-06-15 23:25] pcmoore commented on #252
Where would this flag go?  I don't think we want this as a build time option.  I suppose we could add a filter option, but I'm not really excited about that.  I'd vote for sticking with the pseudo-syscalls in the PFC but dropping it from the BPF (obviously) for now, and if we need to augment this at some point in the future we can.

[2020-06-15 23:33] pcmoore commented on #252
I suspected this was going to break the tree optimization.

@drakenclimber considering this impacts the tree sorting much more than the standard optimization, do you want to take this issue?  Feel free to steal as much or as little of the code I copy and pasted above as makes sense.

One thing I think we should do regardless are the changes in "arch-arm.c" and "arch-x32.c" as it makes more sense.

[2020-06-16 00:00] pcmoore opened #255 "BUG: rename the "master" branch to "main""
Similar to [PR #246](https://github.com/seccomp/libseccomp/pull/246) we need to change the name of the "master" branch to "main", or similar.  This is quite easy, and via a branch rename, it can be done without losing any of the git history; there is no good reason to *not* do this.

The steps are simple:
1. Rename the local git repostory: `git branch -m master main`
2. Push the "main" branch to G

[2020-06-16 14:29] drakenclimber commented on #252
I admit that I typed before I thought.  ;)

Yeah, it would have to be a filter option and that feels wrong.  I agree; let's do as you outlined above.  If we continue to get questions, then we can revisit.

[2020-06-16 14:30] drakenclimber commented on #252
Sure.  I can own this one.

[2020-06-16 15:19] #253 closed

[2020-06-16 15:23] #97 closed

[2020-06-16 18:41] Xyene commented on #240
Progress!

Turns out the reason it's been silent is because `seccomp_export_bpf` was segfaulting (should it, if called after `seccomp_load`?), and that was being reported elsewhere and not where I was looking for seccomp failures. More importantly, I've run into a case where I can reliably reproduce the issue in ~150 invocations, so with some plumbing work I should be able to extract some core dum

[2020-06-16 20:32] Xyene commented on #240
Alright, I pulled a coredump out, and this was the trace: https://gist.github.com/Xyene/920f1cb098784a031f53c66a2f49d167

This was a bit suspect, since it's crashing inside jemalloc's `realloc` routine. Furthermore, using glibc malloc instead resolves the issue (unfortunately, it's not a long-term option in this case due to fragmentation issues).

Next, I pulled in jemalloc, compiled it with `-O0`

[2020-06-16 21:45] Xyene commented on #240
I think I've spotted at least one issue. In `gen_bpf_generate`;

https://github.com/seccomp/libseccomp/blob/1dde9d94e0848e12da20602ca38032b91d521427/src/gen_bpf.c#L1963-L1966

`state.bpf = prgm` so long as `zmalloc` didn't fail. Next, `_gen_bpf_build_bpf` is called, and based off its `rc`, `state.bpf` is set to `NULL`.

https://github.com/seccomp/libseccomp/blob/1dde9d94e0848e12da20602ca38032b91d5

[2020-06-16 22:02] pcmoore commented on #240
Ah ha!  Good catch @Xyene!

I think we need to fix this beyond 3a1d1c977065f204b96293cccfe7d3e5aa0d7ace, let me think on this for a minute ... I don't think the fix will be too hard ... and see if I can come up with a PR.

[2020-06-16 23:29] pcmoore commented on #240
Ooops, I was looking at old code when I wrote that; yes, I believe that 3a1d1c9 does fix this for us, but we will need a patch for the release-2.4 branch.  I'll work on that now.

[2020-06-17 17:43] Xyene commented on #240
Alright, back on 2.4.3 with the patch applied, I've been able to pull out the filter that was failing: [link](https://gist.github.com/Xyene/2b63e5ca2b894c212fb8fc39e17be867).

The reported cause is now `ENOMEM` instead of `EINVAL`, which I guess is expected given that `_gen_bpf_build_bpf` is failing and returning a `NULL` program. The PFC prints out fine, though. Modifying seccomp code to report t

[2020-06-17 17:49] Xyene commented on #240
Alright, back on 2.4.3 with the patch applied, I've been able to pull out the filter that was failing: [link](https://gist.github.com/Xyene/2b63e5ca2b894c212fb8fc39e17be867).

The reported cause is now `ENOMEM` instead of `EINVAL`, which I guess is expected given that `_gen_bpf_build_bpf` is failing and returning a `NULL` program. The PFC prints out fine, though. Modifying seccomp code to report t

[2020-06-17 20:45] Xyene commented on #240
Aha, this story has finally reached its _thrilling_ conclusion &mdash; I've figured out what's been happening, and verified a fix :slightly_smiling_face:

Since it might make for an interesting story, here it is:

The main process that forks off the worker usually sits at ~80mb RSS. After it forks, it restricts memory usage via `rlimit`, sometimes to 64mb. This puts it in a position where its curr

[2020-06-19 06:54] vt-alt commented on #252
@drakenclimber "> As mentioned above, it's an easy way for new(er) users to roughly verify their filter"

"Pseudo syscall" does not exist in the kernel and it's not a well-known concept either. It's purely the invention of libseccomp and it is not explained here. Only stated they are negative numbers and they appear when given syscall does not exist for the architecture. How is this different from

[2020-06-19 07:04] vt-alt commented on #252
Let me add one point more. All this is in the field of security, where only careful and detailed understanding works. You creating new obscure concepts (of pseudo syscalls) and the difference between representations (bpf and pfc). Is this really intended for new users, to confuse them more?

[2020-06-19 19:14] pcmoore opened #258 "RFE: do a better job documenting the pseudo-syscalls"
While the libseccomp devs understand the purpose and motivation behind the pseudo-syscalls, they may seem like an odd concept to users of the library.  We should do a better job explaining the reasoning, use, and impact of the pseudo-syscalls in the libseccomp documentation/manpages.

[2020-06-19 19:16] pcmoore commented on #252
@vt-alt thank you for expressing your concern, but for the v2.5.0 release we are going to suppress the pseudo-syscalls from the BPF filter, and continue to display them in the PFC filter.  I recognize that you may disagree with this decision but I kindly ask you to respect this decision.  In future releases we will do a better job explaining the purpose behind the pseudo-syscalls (it's for multipl

[2020-06-25 00:18] Xyene opened #259 "RFE: allow adding an exact syscall number for an architecture"
Hi,

I have a usage of libseccomp that involves a 64-bit process setting up a filter for and then launching a 32-bit process, with `SCMP_ACT_TRACE` and using `ptrace` for syscall emulation.

The code already has to maintain a syscall name to per-arch ID (similar to libseccomp's [syscall.csv](https://github.com/seccomp/libseccomp/blob/0a6c5f50080691a7984fc12c8b9d605819f66ad5/src/syscalls.csv) in sp

[2020-06-25 16:35] pcmoore commented on #259
Hi @Xyene, thanks for the RFE and/or BUG.  I'm thinking this may be both, but given the subject line I think it's reasonable to keep it as a RFE.

Yes, you are correct in that libseccomp *always* interprets syscalls in the context of the native ABI.  This is partly due to historical reasons where people wanted to be able to use the `__NR_xxxx` syscall defines (as you found out in the manpages), bu

[2020-06-25 19:13] Xyene commented on #259
Agreed, I don't think changing something so fundamental (but subtle) is a good idea :)

Will do so soon.

I think this could be an opportunity to kill two birds with one stone.

As far as I can tell, there's currently no way to specify a disjoint set of syscalls per architecture. In the x86-on-x64 case, regardless of how the architectures are added to the context, at least some syscall rules will

[2020-06-25 19:17] pcmoore commented on #259
Create two filters, one for x86 and one for x86_64, and add whatever rules you want to each, independent of each other and when you are done you merge them back together with a call to `seccomp_merge(...)`.  This was the main motivation for adding `seccomp_merge(...)` to the libseccomp API.

[2020-06-27 00:23] mxaddict opened #262 "Q: when will master branch with RISCV support be added to a release?"
[Question] When will master branch with RISCV support be added to a release?

[2020-06-27 02:05] mxaddict commented on #262
I see that parisc is listed as support, but I can't seem to compile for riscv64 on the master branch or the latest tagged release.

[2020-06-27 20:19] pcmoore commented on #262
It will be included in the v2.5.0 release which you can track using the [v2.5.0 milestone](https://github.com/seccomp/libseccomp/milestone/4).  We are working hard to get this release out as soon as possible.

It should work using the master branch, can you go into more detail about the problems you are having?

[2020-06-30 01:46] #243 closed

[2020-06-30 19:36] mxaddict commented on #262
I just double checked and it does work with master, I was trying it with the latest tag when it did not work.

[2020-06-30 19:36] mxaddict commented on #262
Thanks for the info

[2020-06-30 19:36] #262 closed

[2020-06-30 19:53] pcmoore commented on #262
No problem, glad to hear you got it working.

[2020-07-14 01:23] pcmoore commented on #252
Closing via #264.

[2020-07-14 01:24] #252 closed

[2020-07-14 01:25] pcmoore commented on #245
Ping - I just wanted to make sure you didn't forget about this one @drakenclimber :)

[2020-07-14 01:36] drakenclimber commented on #245
Yep, I should be able to get to it this week.  But thanks for the reminder; I can use all the help I can get these days :)

[2020-07-15 01:37] pcmoore commented on #245
Closed via PR #266.

[2020-07-15 01:37] #245 closed

[2020-07-15 22:11] #164 closed

[2020-07-17 07:40] Cypresslin opened #267 "BUG: some tests in 53-sim-binary_tree failed on Ubuntu Bionic i386 / s390x"
Hello,

while doing our SRU kernel regression tests, we have found that 30 tests in 53-sim-binary_tree will fail with the 4.15.0-111-generic Ubuntu Bionic i386 and s390x (passed with amd64 and PowerPC, skipped on ARM64).

With the following error message (s390x):

	batch name: 53-sim-binary_tree
	test mode: c
	test type: bpf-sim
	Test 53-sim-binary_tree%%001-00001 result: ERROR bpf_sim rc=14
	Test

[2020-07-17 13:42] drakenclimber commented on #267
Thanks for the report @Cypresslin.  I'll look into it.

[2020-07-17 14:39] pcmoore commented on #267
Thanks @Cypresslin and @drakenclimber.  I'm going to hold off on marking this for the v2.5.0 release since we are *so* close and we know little about this bug or the root cause.

@drakenclimber please keep us updated and let us know the root cause as soon as you find it.

[2020-07-17 14:54] drakenclimber commented on #267
I'm testing the fix now.  Looks like I misunderstood the meaning of `all` in the *.tests file.

[2020-07-17 15:20] drakenclimber commented on #267
As I alluded to above, I misunderstood `all` in the architecture column of the tests file.  In my mind, it was testing all architectures in the filter - not all architectures supported by libseccomp.  Oops.  So when the tests were run on s390x, the tests file was testing s390x syscalls against a filter that didn't contain any s390x syscalls.

So, it's an easy fix.  Simply find and replace `all` wi

[2020-07-17 15:51] pcmoore commented on #267
Ah ha!  Thanks for the quick resolution @drakenclimber, since we know what the problem is (and presumably have a fix), I'm going to add this to the v2.5.0 milestone.

[2020-07-17 16:02] drakenclimber commented on #267
Good call.  I think that's the right answer.

[2020-07-18 00:48] pcmoore commented on #267
Closing as this has been resolved in PR #268.

[2020-07-18 00:48] #267 closed

[2020-07-20 19:02] pcmoore opened #270 "RFE: clarify Paul's signing subkey in the README.md"
We list the key maintainer's key fingerprints in the main README.md file, but it may not be clear to the casual user that these key fingerprints may not be the same as the subkey used for signing.  In this case of @pcmoore a signing subkey is used which is different from the primary key.

* https://keys.openpgp.org/search?q=paul%40paul-moore.com

We should check @drakenclimber's key listing as wel

[2020-07-21 13:51] pcmoore opened #272 "RFE: add support for the SuperH 32-bit ABI"
As mentioned by @glaubitz in PR #271, the SuperH ABI is still being developed as part of the [J-Core](https://j-core.org) project.  Once the necessary kernel support has been implemented in Linus' tree we can look into adding support to libseccomp with the help of @glaubitz and other SuperH/J-Core developers.

[2020-07-21 14:48] pcmoore commented on #11
This RFE is almost five years old, and outside of a single discussion with @cgwalters I haven't seen or heard of much other interest in such a feature.  With plenty of other open issues, most with higher priority, it is not clear when we would work on this, or even if such a thing would be a useful addition.

@cgwalters and @drakenclimber what do you think of this issue in 2020?  I'm tempted to cl

[2020-07-21 14:56] pcmoore commented on #45
Now that libseccomp has the concept of API levels, it seems like most of this issue is already addressed; the one missing piece is the total lack of seccomp-bpf in the running process (either due to kernel limitations or pre-existing filters).

Currently we list API level zero as a reserved value, but we could use this to indicate a total lack of seccomp-bpf in `seccomp_api_get()`.  I think we wou

[2020-07-21 15:00] pcmoore commented on #18
Any news @systmkor?

Without any serious effort to improve that static inspection tools, I'm tempted to close this issue.  Thoughts @drakenclimber?  My concern is that shared libraries make this a very difficult, and error prone exercise; without any serious dedication to developing a proper tool I see this as a time sink that could distract us from other more important improvements in the core li

[2020-07-22 14:24] drakenclimber commented on #11
Honestly I think this is a really cool idea.  Several of my in-house customers are using allowlists because of this exact reason.  If they were to use a denylist and a new syscall is added to the kernel, then that syscall would be another avenue of attack.

Let's leave it open for a bit longer.  I'll ask around within Oracle and see if any customers are interested enough in this feature for me to

[2020-07-22 14:44] drakenclimber commented on #45
Just to make sure I understand - you're proposing that users like systemd can make a `seccomp_api_get()` call.  If for some reason, libseccomp can't interact with the seccomp kernel interfaces (either because they're not supported or because we're blocked by a seccomp filter), then libseccomp will return `0` as the currently supported API.  If so, that's a clever and creative solution, and I think

[2020-07-22 16:49] drakenclimber commented on #18
Over the last few years, I know of a couple efforts to identify all of the syscalls in a given program.  They've all had their share of successes and failures, but for the most part have reached a similar point to `scmp_app_inspector`.  It's just really, really hard to do well.

If someone else has the time to own this, I will gladly cheer them on.  But otherwise, I agree, let's close this.  It's

[2020-07-22 20:34] pcmoore commented on #272
From @glaubitz:

That's good news, please keep us updated @glaubitz.

[2020-07-23 01:19] pcmoore commented on #11
Okay, as long as there is interest, I've got no problem in keeping this one open.

[2020-07-23 01:23] pcmoore commented on #45
Yep, that's pretty much it.  We've basically already implemented a runtime detection mechanism with the API levels, the only thing that is missing is that we assume a base level of support; this change would no longer assume that base level but instead test for it.  Famous last words, but this *shouldn't* be too difficult ;)

[2020-07-23 01:25] pcmoore commented on #18
Okay, I'm going to close this.  @systmkor if you've got something to share, please feel free to reopen this issue - we would love to improve our analysis tools!

[2020-07-23 01:25] #18 closed

[2020-07-23 16:34] cgwalters commented on #11
I do still think it'd be useful!

[2020-07-23 18:10] stoeckmann opened #273 "BUG: unable to call seccomp_load() more than once with v2.5.0"
Hi,

a user of xwallpaper noticed an issue with libseccomp 2.5.0, see here: https://github.com/stoeckmann/xwallpaper/issues/23

The tool xwallpaper calls seccomp_load twice during runtime to further tighten its sandbox during runtime. An example for "stage 1" sandbox would be opening files and only in "stage 2" these files would be parsed, not allowing further open calls etc.

I compared libseccom

[2020-07-23 18:13] stoeckmann commented on #273
The seccomp code in question is rather separated from other xwallpaper code parts, so you can see xwallpaper's libseccomp usage here: https://github.com/stoeckmann/xwallpaper/blob/master/seccomp.c

[2020-07-23 18:27] pcmoore commented on #273
Hi @stoeckmann, thanks for the bug report!  Yes, you are correct that we do allow `seccomp_load()` to be called multiples times.

We'll need to think about how we want to resolve this.

[2020-07-23 18:33] pcmoore commented on #273
@stoeckmann @drakenclimber, we still need to look at how the kernel handles multiple notification fd requests to make sure this is correct, but my initial thinking is that we may need to keep a global flag (yuck), which tracks if we've already requested a notification fd and if we have one, we don't request another.

Essentially we would be moving `notify_fd` from the filter context to a global va

[2020-07-23 18:52] pcmoore commented on #273
Building on my previous comment, we *might* want to allow a caller to request another notification fd on the odd chance that they did a `fork()` or a `clone()` after requesting a notification fd.  We really need to understand what the kernel does in these cases with respect to the notification fd.

If we need to handle this, we could always keep the `notify_fd` in the filter context while also kee

[2020-07-23 18:54] pcmoore commented on #273
... or, maybe we allow a caller to call `seccomp_reset(NULL, ...)` instead of returning `-EINVAL`?  In this particular case, the NULL context, we would reset any global state, e.g. the saved notification fd.

[2020-07-23 20:34] pcmoore commented on #273
To close the loop on the kernel portion of this, yes, it looks like if any of the filters loaded into the current task have requested a notifier fd then the load operation fails with `-EBUSY`, see [kernel/seccomp.c:init_listener()](https://elixir.bootlin.com/linux/latest/C/ident/init_listener).

[2020-07-23 20:37] brauner commented on #273
The seccomp notifier currently has the restriction that only a single fd can be requested. This prevents seccomp notify fd filters to override each other's decisions.

[2020-07-23 20:47] pcmoore commented on #273
@brauner yeah.

Do you anticipate the kernel's behavior changing in this regard anytime soon?  We need to figure out a way to support this in libseccomp and it would be helpful to know about any future or queued work so we don't end up painting ourselves into a corner API wise.

[2020-07-23 22:18] brauner commented on #273
It has been brought up recently but no-one has actually made an argument why it's needed. So no, I don't think so. I think once we enable this we might need to revisit the "override" behavior.

[2020-07-23 22:36] pcmoore commented on #273
Okay, let me think on this for a bit, as well as get @drakenclimber's thoughts on the API, but my gut feeling is we probably want to solve this by stashing the notification fd in a global and providing the ability to reset/clear it via `seccomp_reset(NULL, ...)`.

[2020-07-26 10:18] pudh4418 opened #274 "BUG: compile error on MIPS architecture"
Hi,

Compiling libseccomp v2.5.0 on MIPS will bring errors like this:
[code]

This error will also appear when cross compiling MIPS lib from x86-64. A preliminary analysis shows that GCC defines `mips` for MIPS architecture, thus the code becomes `int 1;` .
Maybe we can change it to a different name?

Thanks.

[2020-07-26 14:22] pcmoore commented on #274
Thanks for the report @pudh4418, I'll take a look.

[2020-07-26 14:39] pcmoore commented on #274
Hi @pudh4418, can you check the commit below?  I think it should fix your problem:
* https://github.com/pcmoore/misc-libseccomp/commit/a445a16c4734fff30910178f415a475791a5f267

Also, I'd like to give you credit for reporting the bug in the commit via the `Reported-by:` tag, but in order to do that I need your name and email.  If you don't want to share the information, that's fine too, I'll leave

[2020-07-26 15:33] pudh4418 commented on #274
It seems the fix is not that easy. After applying your patch, error messages turn to:
[code]

`mips` has already been substituted to `1` when `ARCH_DEF` was called.

You may put `Reported-by: Rongwei Zhang <pudh4418@gmail.com>` in the commit. Thanks.

[2020-07-26 16:01] pcmoore commented on #273
@drakenclimber  what do think of the approach in the commit below?
* https://github.com/pcmoore/misc-libseccomp/commit/0811440220aad949feb38428290f91f525742b1d

@stoeckmann the commit above should fix the problem you are seeing, if you could give it a test and report back that would be appreciated.

[2020-07-26 16:04] pcmoore commented on #274
Ungh, that's pretty awful.

Thanks for testing that out, let me see what I can do.

[2020-07-26 16:16] pcmoore commented on #274
As I'm working on this I just noticed that we use the "mips" string in a *lot* of places in the libseccomp code; I'm growing skeptical that GCC is defining a "mips" macro as that would mean this code *never* compiled (?!).

Would you mind checking you application and build environment @pudh4418 to make sure that something else isn't defining a "mips" macro somewhere?

[2020-07-26 16:28] pcmoore commented on #274
Some quick googling found this:
* https://stackoverflow.com/questions/37388785/gcc-flag-to-force-use-of-predefined-macros

@pudh4418 can you try compiling libseccomp with `--ansi` or another `--std` option?

If this proves to be the case, this may be something we simply want to note in the README as obfuscating ever instance of the "mips" string in the code is going to be very annoying.

[2020-07-26 16:31] stoeckmann commented on #273
Hi @pcmoore,

just tested the commit. xwallpaper works with it again.

[2020-07-27 01:31] pcmoore commented on #273
Thanks for verifying this @stoeckmann; if the approach looks okay to @drakenclimber I'll submit a proper PR.

I did just do a force-push to address a problem with one of the regressions tests (test 11 was still expecting `seccomp_reset(NULL, ...)` to return an error).

[2020-07-27 14:50] drakenclimber commented on #273
I briefly looked through the proposed patch, and it seems like a reasonable solution to the problem.  Thanks for the fix.  I'll give it a closer look once you put out the PR.

[2020-07-27 18:57] drakenclimber commented on #240
This bug was fixed by commit https://github.com/seccomp/libseccomp/commit/c0a6e6fd15f74c429a0b74e0dfd4de5a29aabebd

[2020-07-27 18:57] #240 closed

[2020-07-28 01:12] pudh4418 commented on #274
Oh, I didn't find that post.

I tried compiling with `--ansi`, but the code uses lots of `bool` which only exists in C99 or above, it won't compile in strict ANSI mode (C89). I also tried compiling with `--std=c99` or `--std=c11`, but it turns out the code uses endian conversion functions like `htobe16()` which are GNU extensions. These functions are only defined when compiling in GNU mode and tha

[2020-07-28 01:40] pcmoore commented on #274
Good find on `-Umips`, I agree that passing a compiler flag is the better option.  I'll see about working up a fix for that.

[2020-07-31 15:12] drakenclimber opened #277 "RFE: update the syscall list to the latest Linux -rcX release for libseccomp v2.4.4"

[2020-07-31 15:56] drakenclimber commented on #248
Pull request #278 will resolve this issue.

[2020-08-02 14:09] pcmoore commented on #274
Sorry about the delay, but I put together a proper PR to fix this with PR #279.

[2020-08-02 14:34] pcmoore commented on #273
Proper PR time, see PR #280.

[2020-08-03 16:02] drakenclimber commented on #248
Merged via commit https://github.com/seccomp/libseccomp/commit/b3206ad5645dceda89538ea8acc984078ab697ab

[2020-08-03 16:02] #248 closed

[2020-08-03 16:03] drakenclimber commented on #277
Merged via commit https://github.com/seccomp/libseccomp/commit/b3206ad5645dceda89538ea8acc984078ab697ab

[2020-08-03 16:03] #277 closed

[2020-08-04 08:25] poettering commented on #273
(For context: systemd uses libseccomp heavily, most of its daemons come with a syscall filter enforced using libseccomp. All relevant filters ended up being disabled in stable f32 due to this bug, because we install the filters for each arch separately, as well as for each of our user-selectable configuration options separately, which means in effect on x86-64 only a tiny subset of the filters and

[2020-08-04 14:26] #274 closed

[2020-08-04 14:56] pcmoore opened #281 "BUG: the seccomp_add_rule(3) and related manpages do not list SCMP_ACT_NOTIFY"
We need to make sure the `SCMP_ACT_NOTIFY` action is documented in the manpages.

[2020-08-04 18:54] pcmoore commented on #273
@poettering if this bug is a "biggie" for you on F32 stable, you might consider sticking with the v2.4.x release stream until the next v2.5.x release.  The libseccomp v2.4.x release is still supported and I believe @drakenclimber is planning on a new v2.4.x release soon.

[2020-08-04 22:34] Conan-Kudo commented on #273
@pcmoore I do not intend to roll back the libseccomp update. Please do the right thing and fix this in 2.5.x.

[2020-08-04 22:43] pcmoore commented on #273
@Conan-Kudo please read the PR and see we are.

[2020-08-04 22:46] Conan-Kudo commented on #273
@pcmoore Yup, sorry, I saw that later. Unfortunately this new GitHub UI makes it less obvious that there's a PR linked to an issue now...

[2020-08-04 23:07] pcmoore commented on #273
@Conan-Kudo well to be frank I was more concerned about the attitude that came across with those comments than the fact that you had missed the PR in progress.  This was a significant libseccomp release (v2.4.x -> v2.5.0) and there are bound to be bugs that aren't found until the release hits the major distros, if you rushed it from Rawhide into a Fedora stable release without sufficient testing w

[2020-08-04 23:33] Conan-Kudo commented on #273
I've had a pretty bad day of badgering from various people all day over this and other things.

As for "rushing" it, I did not do that. Since it was ABI compatible, I considered it safe to submit and didn't see anything obviously wrong when I tried it locally. I pushed it into Bodhi and let it sit for testing like everything else. It was given karma by other folks and made it to stable accordingly

[2020-08-05 00:25] pcmoore commented on #273
Then you should understand how your "I do not intend to roll back the libseccomp update. Please do the right thing and fix this in 2.5.x." comment sounds.

[2020-08-05 00:27] Conan-Kudo commented on #273
Yeah, yeah... I know. 😩

Anyway, I've cherry-picked the PR into Fedora: https://src.fedoraproject.org/rpms/libseccomp/c/b7df1ffe6c217ba2fb9251b5b9c67f12040a68b5

[2020-08-05 00:30] pcmoore commented on #273
To elaborate a bit more, it's the "please do the right thing" that is especially grating.  It implies that we are intentionally trying to do the *wrong* thing, which is maddening when you consider the time and energy that goes into a release.

Listen, everybody hates it when stuff breaks, it sucks; it sucks doubly hard when you're overworked, burned out, and likely going through other stuff with t

[2020-08-05 00:32] Conan-Kudo commented on #273
Yep, fine with me. I'll try to keep it in mind for the next time...

[2020-08-05 00:32] pcmoore commented on #273
Okay, just buyer-beware that hasn't been merged yet, although there are no ABI changes so it should be safe'ish ... ?  Regardless, let us know how that goes; feedback on if it solves the problem for the Fedora crowd would be good.

[2020-08-05 00:33] Conan-Kudo commented on #273
Yeah, I figured that the severity of the unintended breakage would warrant pulling it in early and getting it evaluated to fix the issue we've hit.

[2020-08-08 11:39] hvdijk opened #282 "BUG: pseudo-syscalls not working correctly on x32"
Commit 9b129c41ac1f43d373742697aa2faf6040b9dfab introduces the concept of "syscall munging" to subtract some base number from syscall numbers to make it easier to use them as an offset into a table. Despite messages in this commit specifically addressing negative pseudo syscall numbers, this does not actually handle negative pseudo syscall numbers properly, which shows up as a test failure in 29-s

[2020-08-08 12:33] pcmoore commented on #282
Hi @hvdijk, do you have a reproducer that you can share?

[2020-08-08 12:35] hvdijk commented on #282
The reproducer is already in the test suite: just do an x32 build and run the test suite's 29-sim-pseudo_syscall test.

[2020-08-08 12:39] pcmoore commented on #282
Thanks.

What distribution are you using to test x32?  Is the full distro built natively for x32, or are you building for x32 on x86/x86_64?

[2020-08-08 12:46] hvdijk commented on #282
I saw this on a full x32 system (custom, not any distro), but it also shows up when building for x32 on an x86-64 Ubuntu 20.04 system.

[2020-08-08 13:30] hvdijk commented on #282
This should show up for mips as well, which does the same type of munging. There's also code for arm that does this munging, but its munging is a noop as long as OABI is unsupported, so it wouldn't actually be a problem there. I have a mips device I can try to test this on but the kernel it's currently running doesn't support seccomp, so it'll take a bit of time before I'm able to confirm it's rea

[2020-08-08 16:43] hvdijk commented on #282
I don't actually see any need for any type of munging since there's nothing preventing the syscall numbers from being stored in the table unmodified. Created a PR with that, the tests pass for x32, but this is untested for MIPS.

[2020-08-13 22:59] hvdijk commented on #282
Issue closed. After highly unconstructive feedback I have no wish to continue to help in getting this resolved.

[2020-08-14 01:48] pcmoore commented on #282
Reopening as the issue for confirmation and resolution if necessary.

[2020-08-14 07:50] hvdijk commented on #282
No. I no longer want to get any messages from you and if you are using this issue, I do. Issue closed again. Leave it closed. Open your own issue if you like but leave me the hell out of it.

[2020-08-14 07:50] #282 closed

[2020-08-14 12:52] pcmoore opened #284 "BUG: pseudo-syscalls not working correctly on x32"
As reported by @hvdijk in issue #282 and reproduced here at the reporter's request:

[2020-08-14 12:56] pcmoore commented on #282
As requested by the reported as part of the delete-tantrum seen above, this issue has been cloned to issue #284.

[2020-08-14 13:01] pcmoore commented on #284
From the reporter who is running a custom x32 based distro:

The reporter believes this to be an issue with MIPS as well as x32.

[2020-08-14 13:53] hvdijk commented on #284
I told you I wanted nothing more to do with you. You not only continuing to comment on the original bug report but tagging me in this one so that I would be notified yet again is getting to fucking harassment, plain and simple. Do not take *any* further action that causes *any* email to be sent to me for *any* reason or I will respond appropriately.

Note that this applies only to you, not any oth

[2020-08-14 14:24] pcmoore commented on #284
That was both so we could keep track of who reported the issue and to link the two issues together. If you do not want to receive any further notifications you should adjust your subscription settings either on the repo or issue level. Your inability to manage your GH notifications is not our problem.

[2020-08-14 14:25] hvdijk commented on #284
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
S

[2020-08-14 14:26] hvdijk commented on #284
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
S

[2020-08-14 14:26] hvdijk commented on #284
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
S

[2020-08-14 14:27] hvdijk commented on #284
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
Stop harassing me.
S

[2020-08-14 14:27] hvdijk commented on #284
Seriously, fucking stop harassing me, you worthless excuse for a human being. How fucking hard is that?

[2020-08-14 14:55] hvdijk commented on #284
Mark as disruptive all you want but you're still a fucking harasser.

[2020-08-14 20:33] pcmoore commented on #284
For those who may be watching this issue, the comments above were marked as disruptive/abusive because of the profanity used by the author. There were other comments which were marked disruptive/abusive because of their repetitive content (many, many lines repeated which simply said "Stop harassing me.", or similar), however the author chose to delete those comments from this issue.

While I don't

[2020-08-14 21:09] hvdijk commented on #284
Stop harassing me.

[2020-08-14 21:09] hvdijk commented on #284
Stop harassing me.

[2020-08-14 21:09] hvdijk commented on #284
Stop harassing me.

[2020-08-14 21:09] hvdijk commented on #284
You're continuing to harass me. Stop it.

[2020-08-14 21:09] hvdijk commented on #284
Stop harassing me.

[2020-08-14 21:10] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:12] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:12] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:12] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:12] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:13] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:13] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:15] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:16] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:16] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:16] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:17] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:17] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:17] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:17] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:18] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:23] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:24] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:25] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.

[2020-08-14 21:26] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're

[2020-08-14 21:26] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're

[2020-08-14 21:26] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're

[2020-08-14 21:26] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're

[2020-08-14 21:26] hvdijk commented on #284
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're going to continue your harassment I will not limit my disruption to this issue if that is necessary to get you to stop.
If you're

[2020-08-14 21:28] hvdijk commented on #284
Just quit your damn harassment already and I won't need to stop telling you to quit your harassment.

[2020-08-14 21:29] hvdijk commented on #284
Just quit your damn harassment already and I won't need to continue telling you to quit it. Simple as that: no more comments from you here, for any reason. Just shut up. Better yet, close this issue, open a new one, *don't* tag me in it when I explicitly stated I wanted nothing more to do with you, and rest assured I won't comment on it.

[2020-08-14 21:31] hvdijk commented on #284
Keep in mind that by mentioning me in this issue, *you* were the one who requested I be notified after I wished to be left alone. The problem is not that I don't know how to prevent the notifications. I shouldn't need to in the first place because you shouldn't be a harasser.

[2020-08-14 21:48] drakenclimber commented on #284
@hvdijk,
I am the other maintainer of libseccomp.  Like most of us in the software community, I wear many hats and maintaining libseccomp is just one of many of my roles.  I have been working on a blocker issue in another project this week and have not had the bandwidth for libseccomp.  My apologies.

Thank you for finding a bug in v2.5 of libseccomp.  We do our best to write bug-free code, but we

[2020-08-14 21:55] hvdijk commented on #284
@drakenclimber Thank you for your comment. I am willing to work with you on improving libseccomp. Although I closed the pull request, the code is still visible and I am willing to explain why I believe this is the only viable way to resolve the bug, and I am willing to listen to criticism if you believe this is not a viable or correct way to resolve the bug and if so, to help think of alternative

[2020-08-14 22:07] drakenclimber commented on #284
It's been a really, really long week for me.  (And while I'm on the record, it's been a really long year :/)

I admit that I haven't looked through the issue yet.  I will look through it first thing next week and respond on github.  I will fairly evaluate both the problem and proposed fix, and I am cautiously optimistic that we can find a solution that is amenable to all involved.

I need to sign

[2020-08-14 22:24] hvdijk commented on #284
I have now deleted my earlier comments on this issue.

Like I had written in the PR, this is in no way an urgent issue for me. I will wait for your feedback, thanks.

[2020-08-14 22:37] drakenclimber commented on #284
Great.  Thanks!

[2020-08-16 14:42] srd424 opened #286 "RFE/RFD: expose supported syscall number range(s)?"
Triggered by a discussion (in [June](https://lists.freedesktop.org/archives/systemd-devel/2020-June/044755.html) & [Aug](https://lists.freedesktop.org/archives/systemd-devel/2020-August/045038.html)) on systemd-devel ..

systemd-nspawn chooses to return `EPERM` for non-whitelisted syscalls. However, this causes problems in cases like `openat2`, where libc checks for `ENOSYS` and falls back to a di

[2020-08-16 20:07] pcmoore commented on #286
Hi @srd424.  I want to make sure I understand what you are asking for in this issue ... it sounds to me that you would basically like to know if libseccomp "knows" about a given syscall, regardless of if that particular syscall is implemented on that arch/ABI, yes?

If so, I believe you should be able to use `seccomp_syscall_resolve_name(...)` to get the information you want.  If the return value

[2020-08-16 20:31] pcmoore commented on #284
As a FYI, I just submitted PR #288 which should address this problem.

However, in the course of testing I also ran into a problem with test "51-live-user_notification" on x32, see PR #287.  It *may* be an issue on other 32-bit arches/ABIs, but I didn't bother checking as we needed to fix it for x32 regardless.  It is important to note that PR #287 is just fixing a bug in a test, not the library p

[2020-08-16 20:49] hvdijk commented on #284
@drakenclimber Obviously my previous comment was predicated on your co-maintainer backing the hell off. I want nothing more to do with him. He knows this. He has requested that notifications be sent to me for his contributions in this issue after my request for him to leave me alone and as such any contribution he makes here is still harassment and needs to be dealt with accordingly. Out of respec

[2020-08-16 21:00] pcmoore commented on #284
It isn't clear what sort of deadline is implied by "urgently", but @drakenclimber generally does not check GH/email on the weekends.

I will be clear that it is reasonable for the maintainers, or any interested party, to comment on an issue/PR; if that is not acceptable to an individual they can always unsubscribe from a particular issue or the repo itself.

https://docs.github.com/en/github/manag

[2020-08-16 21:01] hvdijk commented on #284
@drakenclimber Please get this fucking piece of shit to stop his goddamn harassment.

[2020-08-16 21:02] hvdijk commented on #284
@drakenclimber I'm really sorry for the language but I need the harassment to stop, badly, and I do not have any non-disruptive means of doing so unless you step in.

[2020-08-16 21:13] srd424 commented on #286
That might make the filters .. long-winded!

What I was hoping to do is to to have a filter rule compare the syscall number to the highest known, and if greater, return `ENOSYS`, otherwise return `EPERM` (Assuming that whitelisted syscalls have been handled by an earlier rule.)

However looking at the details for `seccomp_rule_add`, I'm not sure that is going to work .. the syscall number is treat

[2020-08-16 21:34] pcmoore opened #289 "BUG: add a "Community Guidelines" section to CONTRIBUTING.md"
We should add a section near the top of the "CONTRIBUTING.md" file that outlines what we consider to be acceptable and unacceptable guidlines for partiticpation in the libseccomp project.  This section should also include how the project maintainers will deal with problems on GitHub on the mailing list.

[2020-08-16 21:36] pcmoore commented on #289
After recent events I have a few ideas on this subject, and I'm sure @drakenclimber does as well.  I'll take the responsibility of creating an initial draft PR and then we can all work on edits/comments/etc.

[2020-08-16 21:36] srd424 commented on #286
Flipping through the code (which is mostly beyond me) it seems like the only approach would be to define a new def_action type, `SCMP_ACT_ERRNO_OR_ENOSYS` to request the extra rules ..

[2020-08-16 21:49] pcmoore commented on #284
Unfortunately due to continued use of profanity against another user, and threats to poison the other libseccomp issues as was done earlier to this issue (all since removed by the user, except for the one profane comment above) I've just blocked "hvdijk".  This is an extraordinary thing to do, and one which I don't do lightly.  While @drakenclimber and I had discussed this last week when the situa

[2020-08-16 21:55] srd424 commented on #286
It might or might not be reasonable functionality to add to libseccomp as I guess the original problem may occur for multiple users of the library. It looks like it would (just?) be a question of generating a slightly more sophisticated default action..

[2020-08-17 01:51] pcmoore commented on #286
I'm not quite sure what you mean here ... ?  The call to `seccomp_syscall_resolve_name(...)` doesn't actually affect the filter, it just queries the internal libseccomp syscall db to do the syscall resolution.  You can call it once, one thousand times, or never and your filter will be exactly the same :)

Okay, I think I'm beginning to understand what you are asking for now.  You want the filter i

[2020-08-17 02:07] dm0- commented on #272
Looks like this is in v5.9-rc1: https://github.com/torvalds/linux/commit/0bb605c2c7f2b4b314b91510810b226de7f34fa1

[2020-08-17 02:20] pcmoore commented on #272
... and there is a new PR from @glaubitz with the libseccomp support :)

@drakenclimber need to get new releases out for the v2.4.x and v2.5.x release streams, but this is definitely something we want to get in for v2.6.0.

[2020-08-17 15:08] drakenclimber commented on #286
This [comment](https://lists.freedesktop.org/archives/systemd-devel/2020-August/045062.html) in the second thread mentioned above made me smile :+1:

https://github.com/seccomp/libseccomp/issues/286, but I'm probably not
being very coherent..

After reading through the threads you mentioned, I think I'm on the same page.

If someone (libseccomp, nspawn, whoever) could return `ENOSYS`, then glibc w

[2020-08-17 15:24] srd424 commented on #286
Yes, that sounds right. The opinion of the systemd folks is that EPERM is reasonable most of time for denylisted syscalls, presumably as it conveys "not allowed" to end user / admin. Hence the idea to distinguish between "new" and "old" syscalls and do ENOSYS for anything unrecognised. I assume we don't want to enumerate and test every single syscall in the BPF for performance reasons, so tracking

[2020-08-18 01:18] pcmoore commented on #286
I agree with @drakenclimber, this request sounds reasonable, I think I just need some more time to think about possible solutions :)

At a pretty basic level, this is similar to RFE #11, and in the end that may be the easiest way to implement this in a way that isn't terrible for applications: an application can specify a maximum supported kernel API version, e.g. v5.8 (obviously tokenized), as we

[2020-08-18 15:51] #273 closed

[2020-08-19 07:10] keszybz commented on #286
Hi, this was discussed also in https://github.com/systemd/systemd/pull/16739.

This would work great. In systemd/systemd-nspawn we'd want to return custom errnos for any explicitly allow-listed and deny-listed syscalls, EPERM for any others in the "supported kernel API version", and ENOSYS for any new ones.

I think the implementation wouldn't be too complicated. For example for amd64, "known" sys

[2020-08-19 08:29] topimiettinen commented on #286
#94 could be related too.

[2020-08-19 11:54] srd424 commented on #286
I'm under-caffeinated this morning, but would having the ENOSYS handling then give us the possibility to turn large allowlists into small denylists for a possible performance win as well?

[2020-08-19 13:33] #284 closed

[2020-08-19 13:49] pcmoore commented on #286
As you allude to, the actual BPF is going to be both arch/ABI and kernel version specific.  In the x86_64 example above the BPF isn't going to be too bad, but we not be that lucky for other arches/versions.  Regardless, this is now two issue that are effectively requesting the same thing so I think it's something we will want to do ... I'm just not going to start jumping up and down about how easy

[2020-08-19 14:05] pcmoore commented on #11
It looks like issue #286 is the concrete issue to help drive this work forward ... even if it has been almost five years ;)

I think the first step towards this is to add a new field to the [syscalls.csv](https://github.com/seccomp/libseccomp/blob/master/src/syscalls.csv) file that indicates when the syscall was first introduced.  That is going to be a good chunk of work as we currently have ~469

[2020-08-19 14:21] srd424 commented on #286
To be more specific .. at the moment anyone trying to _securely_ block certain syscalls effectively has to allowlist, because you can't be sure what syscalls a newer kernel might add. If we can request libseccomp to automatically block unknown syscalls, that means we can safely switch to a small denylist instead?

[2020-08-19 14:31] drakenclimber commented on #286
I sincerely hope we can get there, as that would be an absolutely awesome feature.  For example, Docker is currently employing an allowlist and their [default list](https://github.com/moby/moby/blob/master/profiles/seccomp/default.json) is now ~240 syscalls (and always growing).

The performance impact of such a large list can be prohibitive.  Note that it can be somewhat mitigated by using the bi

[2020-08-21 08:20] fweimer commented on #286
I don't see how this could work. Unknown to libseccomp and unknown to the denylist author will usually mean different things. Which means that the conceptual issue won't go away even if libseccomp has a clearer picture of the supported system calls internally.

[2020-08-21 08:54] srd424 commented on #286
Good point - I guess we'd need well defined sets tagged by kernel version for that to work, which does seem to be being discussed a bit.

[2020-09-15 18:28] #289 closed

[2020-10-13 12:16] r10r opened #295 "RFE: Resolve SCMP_ARCH_* constants to architecture name"
What about adding `seccomp_arch_name` (inverse of `seccomp_arch_resolve_name`) to the API ?

It would be nice (e.g to debug rule generation) if the SCMP_ARCH_* constants can be resolved to the architecture names.
I noticed that this is already implemented  and would require only a small amount of refactoring: https://github.com/seccomp/libseccomp/blob/3734fdc1f6a863cbef0377db1fe239791794be84/src/g

[2020-10-13 13:37] pcmoore commented on #295
Hi @r10r.

Sure, that sounds reasonable.  The right thing to do would probably be to add a `const char *name` field to `struct arch_def` and then just leverage the existing `arch_def_lookup()` to create a new API function `seccomp_arch_resolve_token()` or similar.  Does that sound okay to you?

@drakenclimber any thoughts?

[2020-10-13 14:24] r10r commented on #295
That sounds good.
Does it help when I make the changes (on top of master) and send you a pull request?

[2020-10-13 16:56] drakenclimber commented on #295
Yes, this sounds like a good API to add, and I think your proposed implementation should work well.

Yes, that would be awesome!  Once it's in master, we can handle getting it into the v2.5 release branch.

Thanks so much for the help :)

[2020-10-15 00:08] pcmoore commented on #295
Since this is adding a new function to the API, I would suggest that this should be a candidate for v2.6.0 and not v2.5.x.

[2020-10-20 21:53] pcmoore commented on #281
@drakenclimber do you want to take a crack at this?  I'm going to proactively assing this to you, but feel free to reject that and mark it unassigned :)

[2020-10-21 14:21] pcmoore commented on #255
It looks like GH is working on a way to rename the master branch without disrupting issues/PRs (see link below).  Considering the timeline it may be easier to wait for GH to roll out the renaming support.
* https://github.com/github/renaming

[2020-10-23 03:57] stevenhurwitt opened #297 "Q: looking for newer libseccomp package"
Trying to install moby (on a raspberry pi arm64 os), which depends on libseccomp, specifically > 2.4.0. The latest libseccomp2 available is 2.3.3-4. I tried installing 2.4.4 from source but it can't find it.

What command can I run to find the version of libseccomp and how can I link my "built from source" version with the package manager version?

[2020-10-23 14:46] pcmoore commented on #297
Hi @stevenhurwitt.  I'm not familiar with Moby, but you can always grab the latest release tarball from our releases page (below).

* https://github.com/seccomp/libseccomp/releases

[2020-10-23 14:46] #297 closed

[2020-10-23 14:53] drakenclimber commented on #297
Depending upon how you installed libseccomp v2.4.4, you may need to tell your system where to find it.  (`sudo make install` usually installs a program to `/usr/local/`.  `/usr/local/` often isn't searched when loading shared libraries.)

There are several ways to add a path to the shared library search, but two of the most common are via the `LD_LIBRARY_PATH` environment variable or using the `/e

[2020-10-25 08:28] debfx commented on #274
Hi @pcmoore, I noticed that this issue is marked for the 2.5.1 milestone but the fix is not part of the release-2.5 branch.

[2020-10-25 19:22] pcmoore commented on #274
Sorry about that @debfx, thanks for catching that!  I just pushed the backport via 3e1a828777f097e55cd831cf7e7f617057c801c5.

[2020-10-25 19:46] #281 closed

[2020-10-25 19:51] #270 closed

[2020-11-06 04:07] pcmoore opened #299 "BUG: look into replacing Travis CI with GitHub actions"
There are plenty of articles on this, but see The Register article below for some background on this issue:

* https://www.theregister.com/2020/11/02/travis_ci_pricng

With Travis CI becoming potentially unreliable for libseccomp, we should investigate moving out CI testing to GitHub actions:

* https://docs.github.com/en/free-pro-team@latest/actions

[2020-11-06 17:08] alban opened #301 "Q: cannot have different filters with SCMP_ACT_NOTIFY in different threads"
libseccomp stores the notification fd in a global variable: `state.notify_fd`. This makes it impossible to use libseccomp for a multi-threaded application with different filters in different threads (i.e. without using TSYNC).

libseccomp has `seccomp_reset(NULL, ...)` to reset the global variable `state.notify_fd`. But `seccomp_reset()` has the unfortunate consequence to reset `state.nr_seccomp =

[2020-11-06 17:22] pcmoore commented on #301
@drakenclimber hold the upcoming v2.5.1 releases until we get some clarification on this.  I'm not sure I completely understand the original report yet, but since v2.5.1 is the first release to implement the `seccomp_reset(NULL, ...)` concept, let's wait just a minute until we can verify things ...

[2020-11-06 17:23] pcmoore commented on #301
Adding this to the v2.5.1 milestone simply as a blocker for right now, this may change as we investigate things.

[2020-11-06 17:26] drakenclimber commented on #301
Agreed.  Will do.

[2020-11-06 17:34] pcmoore commented on #301
Can you elaborate a bit more on that last sentence?  I'm not sure I understand what you are trying to convey.

FWIW, the seccomp notification FD is a process global object, you can only request it from the kernel once.  You can read https://github.com/seccomp/libseccomp/issues/273 to get some more background on the issue.

Why is resetting `state.nr_seccomp = -1` a significant problem?  If the `nr

[2020-11-06 21:49] drakenclimber commented on #301
@alban - Similar question from me.  I spent a bit of time trying to invent a sensible multi-threaded, multi-seccomp-filter use case (in C) and really couldn't come up with anything.

I read through the Go documentation of `os.LockOSThread()`, and it makes sense to me.  But I'm struggling to convert this knowledge into a multi-threaded, multi-seccomp-filter solution.

Could you share some pseudo-co

[2020-11-08 16:38] alban commented on #301
While working on the unit tests in libseccomp-golang, I realised that the following scenario was being tested:
1. In a first execution of the unit test, a seccomp policy was applied **without** `SECCOMP_FILTER_FLAG_TSYNC` (meaning it is applied at the thread level and not at the process level) but **with** `SECCOMP_FILTER_FLAG_NEW_LISTENER` (so libseccomp will store the fd in `state.notify_fd`).
2

[2020-11-11 19:23] pcmoore commented on #301
Ah ha, that makes more sense now.  I've often wondered if we should make TSYNC the default for the libseccomp-golang bindings; given the thread ambiguity in Go it seems like a much safer choice.

I'll be interested to get @drakenclimber's opinion on this, but yes my thinking right now is that this is a "WONTFIX" due to it being a rather bizarre corner case.  If an application did want to do someth

[2020-11-12 14:38] drakenclimber commented on #301
I agree.  I spent some time digging through @tych0's original patchset and comments as well as the kernel code itself.  His envisioned use case is a monitoring process running the notification handler while containerized processes come and go.  When these containerized processes invoke the syscall that has a notification on it, the monitoring process can do additional logic to allow/deny the reque

[2020-11-12 16:09] pcmoore commented on #301
It sounds like we are all in agreement here so I'm going to close this issue.  @alban if you think we are missing something important, please let us know and/or re-open this issue so we can sort it all out.

Thanks everyone.

[2020-11-12 16:09] #301 closed

[2020-11-13 18:06] alban opened #302 "RFE: extend SCMP_FLTATR_API_SYSRAWRC support to the notification API"
The implementation of `seccomp_notify_receive()` just uses:
[code]
Regardless of the error in `errno`, it returns `-ECANCELED`.

When debugging with strace, I found out that the ioctl returned EINTR because of the signal SIGURG:
[code]

The signal SIGURL is generated by the Golang runtime, see details in https://go-review.googlesource.com/c/go/+/232862/
According to that report, the syscall should

[2020-11-13 18:31] pcmoore commented on #302
Hi @alban.

Look at `SCMP_FLTATR_API_SYSRAWRC` in the `seccomp_attr_set(3)` manpage:

We force `-ECANCELED` in this case to ensure a stable return code promise in the libseccomp API across different kernel/libc versions.  We offer the `SCMP_FLTATR_API_SYSRAWRC` for callers that still wish to see the actual kernel/libc return code, just be warned that we do not guarantee a stable return code if you

[2020-11-13 18:43] alban commented on #302
Hi @pcmoore, thanks for the quick reply.

But the new functions
- seccomp_notify_receive
- seccomp_notify_respond
- seccomp_notify_id_valid

are using `_rc_filter()` and not `_rc_filter_sys()`, so `SCMP_FLTATR_API_SYSRAWRC` should not have an effect, if I am not mistaken.

[2020-11-13 18:52] pcmoore commented on #302
Ah ... sorry about that.  Actually, it goes deeper than the API level, look in "system.c" and you'll see that the libseccomp system level calls don't propogate those up to the API level functions.  Looking at the manpages, it appears we don't make any claims about `SCMP_FLTATR_API_SYSRAWRC` for the notification API (see `seccomp_load(3)` for a counter example).

I'll go ahead and reopen this as a

[2020-11-13 19:30] alban commented on #302
Thanks!

For the record, I fount the workaround in the Golang side to be able distinguish ENOENT and EINTR, with this code pattern:

[code]

With this, it seems to work fine with libseccomp-2.5.0,

[2020-11-17 11:46] anthraxx opened #303 "detached release version 2.5.1 with missing artifacts"
Hi,
First of all, if you just need more time to finalize the release properly, no worries, I just though after 12 hours I may just ping about some "issues" I have discovered in case that it was unexpected and overlooked. Otherwise sorry for the noise and awaiting the final release :cat:

- The release tag points to a detached commit that is not part of 1release-2.51 or any other branch:
https://gi

[2020-11-17 13:51] drakenclimber commented on #303
Thanks for the comment, @anthraxx.  I started the v2.5.1 release yesterday and plan on finishing it up today.  There are a still a few more things I need to do before the v2.5.1 release is fully complete.

[2020-11-17 13:53] #303 closed

[2020-11-17 15:11] pcmoore opened #304 "BUG: updates RELEASE_PROCESS.md so that the tag is pushed upstream as late as possible"
In an effort to reduce confusion, we should push the release tag as late as possible in the release process to help reduce confusion by those who watch the GH releases page very closely.  See issue https://github.com/seccomp/libseccomp/issues/303 as an example.

[2020-11-19 15:23] drakenclimber commented on #299
Here's a guide for migrating from TravisCI to Github Actions.  I am hoping to experiment with this over the next few days
https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions

[2020-11-27 10:41] cyphar commented on #286
I only just found this thread, just chiming in to say that I've been thinking on similar lines and this is definitely something Docker/runc would like to have solved as well. Doing it with a maximum kernel version is probably the nicest way of doing it, because it means profile writers (and container runtimes) don't need to track syscalls added out-of-order or what the newest syscall was at the ti

[2020-11-27 10:48] jethrogb commented on #11
Is kernel version the right thing to track? Is it guaranteed that newer syscalls are not backported to e.g. stable kernel branches with a lower version number?

[2020-11-27 15:22] mathstuf commented on #11
Red Hat will backport all kinds of things to their kernels, so no.

[2020-11-30 10:49] cyphar commented on #11
If RedHat backports a syscall to an older kernel version, they can also patch their version of libseccomp.

[2020-11-30 11:09] cyphar commented on #11
If RedHat backports a syscall to an older kernel version, they can also patch their version of libseccomp to match. Though to be fair this might matter more for certain use-cases but as an approach to fixing #286 I think it's fairly workable. The other problem is that I'm not sure there's any better approach -- syscalls can be added in non-consecutive order (for instance `openat2` was added before

[2020-11-30 17:26] drakenclimber commented on #299
I'm really liking the look of Github Actions.  I just sent out a patchset to switch libcgroup from Travis CI to Github Actions.

https://github.com/drakenclimber/libcgroup/tree/issues/github_actions
https://sourceforge.net/p/libcg/mailman/message/37165461/

I'll try to put together a patchset to transition libseccomp this week.

[2020-12-02 00:20] pcmoore commented on #286
Based on the discussion above, it looks like most (all?) of the people here believe that issue #11 is the right way to solve this issue; does anyone have a problem with closing this issue in favor of moving future discussion to the original issue (#11)?

[2020-12-02 00:24] pcmoore commented on #11
Yes, exactly.  The upstream libseccomp project has no control over the various enterprise Linux distributions and if those distributions decide to deviate from the upstream projects (either the Linux Kernel or libseccomp) they are on their own for support.  While we will do our best to help, we can't sacrifice the upstream project in favor of these enterprise distributions with their own support a

[2020-12-02 00:39] pcmoore commented on #299
That sounds good @drakenclimber, thanks!

[2020-12-02 23:43] drakenclimber commented on #299
Here's my current status.  I have Github Actions [working on amd64](https://github.com/drakenclimber/libseccomp/actions/runs/396925419) with some slight deviations from our current Travis CI solution, but I have concerns about other architectures.

Pros:
- Easy to use.  I was able to quickly setup a [continuous integration workflow](https://github.com/drakenclimber/libseccomp/blob/wip/github_actio

[2020-12-13 00:45] mvasi90 opened #305 "BUG: pwrite (18) syscall not recognized"
When running sandboxed Firefox in Systemd and using some syscall filters, it returns this error: `Failed to parse system call, ignoring: pwrite`.

Does libseccomp have syscall `pwrite`?

[2020-12-13 22:21] pcmoore commented on #305
Hi @mvasi90.  From the `pwrite(2)` manpage:

Since this change happened well before seccomp-bpf was added to the kernel, libseccomp uses the new syscall names, `pwrite64(2)` instead of `pwrite(2)`.  I'm going to close this issue since this isn't really a bug, but if you have any other concerns or questions feel free to drop a comment in this issue.

[2020-12-13 22:21] #305 closed

[2020-12-13 23:23] mvasi90 commented on #305
Hi @pcmoore. You're right.
I tried it before opening this issue but didn't realize it failed from another system call. I thought it was the same problem.

After adding `pwrite64` and other two syscalls all works well.

Thank you!

[2020-12-21 09:18] OkenKhuman opened #307 "Q: build setup difference between libseccomp and libseccomp2?"
This may be dumb question but please tell if there is difference between libseccomp and libseccomp2?

What is the difference in build process.

Please clarify my doubt

[2020-12-21 16:13] pcmoore commented on #307
Hi @OkenKhuman.

Upstream we don't distinguish between "libseccomp" and "libseccomp2".  My best guess is that your distribution is calling libseccomp v1.x "libseccomp" and libseccomp v2.x "libseccomp2" but I can't be certain.

Regardless, none of the libseccomp v1.x releases are supported by upstream any longer so I would strongly encourage you to upgrade your system to the latest libseccomp relea

[2020-12-21 16:13] #307 closed

[2020-12-28 22:21] oxr463 commented on #299
What about using Vagrant on macOS?

[2020-12-30 15:39] pcmoore commented on #299
This issue is specifically about moving our CI testing from Travis CI to GitHub Actions and not the general development and testing of libseccomp.  I'm not sure MacOS is an option for GitHub Actions, and even if it was it would likely be a poor choice for us due to the lack of kernel support (out "live" tests are limited, but important).

[2020-12-30 15:43] pcmoore commented on #299
Thanks for looking into this @drakenclimber, the limited architecture support is very disapppointing.  Since we aren't actually seeing a lot of problems with Travis CI at the moment, perhaps we continue with Travis until it becomes disruptive?

Regarding the lcov/Coveralls comments; I'd noticed similar things in the past, but didn't worry to much about the differences since they were minor.  I won

[2020-12-30 16:15] oxr463 commented on #299
I'm quite familiar with GitHub Actions. They do support macOS (See: https://github.com/actions/virtual-environments#available-environments). Specifically, macOS is the only environment that comes with Vagrant and VirtualBox (See: https://github.com/actions/virtual-environments/issues/433).

In my experience, it requires a little more work to set up, but running inside a virtual machine ensures a m

[2020-12-30 16:36] pcmoore commented on #299
Thanks @oxr463, that's good to know about GH Actions.  At this point I'd prefer not to have the extra management overhead of a virtual environment, but it is something to consider if Travis CI ever becomes a problem for us.

As our Travis activity is relatively light, I'm hopeful we wont run into the Travis problems that some other projects have seen.

[2021-01-06 15:55] pcmoore commented on #82
PR #308 is related to this, and may largely remove the need for this issue.

[2021-01-08 21:22] drakenclimber opened #309 "RFE: Use lcov files in Travis CI"
See this [comment](https://github.com/seccomp/libseccomp/issues/299#issuecomment-737562892) in Issue #299 for more details.

Our current code coverage solution ([cpp-coveralls](https://github.com/eddyxu/cpp-coveralls/blob/master/README.md)) has minor differences from the code coverage results generated from an lcov file.  Initial analysis shows that the lcov file is likely more correct.

Switching

[2021-01-08 21:23] drakenclimber commented on #299
Yes, I think that's the best and safest answer.

Yes, this should be possible.  I created Issue #309 and assigned it to myself.  I'll try to pick this up in the next week or two.

Thanks

Thanks, @oxr463.  I also hope we don't have to go that route, but it's good to know that there are other options out there.

[2021-01-12 01:42] pcmoore commented on #299
@drakenclimber I'm going to drop this from a release milestone and drop the priority down to low since we're adopting a "wait until it breaks" approach to this, if you disagree feel free to shout or simple adjust the labels accordingly.

[2021-01-12 02:19] drakenclimber commented on #299
Sounds good to me.  Thanks!

[2021-01-12 13:39] pcmoore commented on #11
As a point of reference, the `syscalls(2)` manpage has some historical information regarding when various syscalls were introduced into the kernel:
* https://www.mankier.com/2/syscalls

[2021-01-14 08:10] cyphar opened #310 "RFE: Inverse of MASKED_EQ (MASKED_NEQ?)"
This is related to opencontainers/runc#2151. In order to work around #286 and related issues, we have to generate inverse rules for all syscalls specified in our allow list. Unfortunately this is not possible for `SCMP_MASKED_EQ` because there is no obvious inverse condition.

The way I plan to implement this outside libseccomp is through some pretty awful argument checking logic, but really it sh

[2021-01-14 14:55] #82 closed

[2021-01-14 15:26] pcmoore commented on #310
I think we have some basic ideas to address #286, and while those ideas seem like the right way to address the problem it doesn't mean this request doesn't have merit on its own.

@drakenclimber this seems like a reasonable request to me, and shouldn't be too painful, so I'm going to tag it for v2.6.0; if you've got any concerns or objections please shout.

[2021-01-14 15:30] pcmoore commented on #299
@drakenclimber one thing did just occur to me - we should consider trying to migrate from travis-ci.org to travis-ci.com as the ".org" is supposedly going away "within weeks".

[2021-01-14 16:02] drakenclimber commented on #310
I agree.  This is definitely a reasonable request on its own.  Thanks for the submission, @cyphar.  v2.6.0 sounds like a good initial volley.

Not sure what my schedule looks like in the next few weeks, but I think this sounds like a fun issue to tackle.

[2021-01-14 16:04] drakenclimber commented on #299
Oh!  Didn't know that.  Thanks!

I'll try to pick this up next week then.

[2021-01-14 18:30] pcmoore commented on #310
Sounds good.  I went ahead and assigned this to you, feel free to unassign if you don't feel like you can get to it.

Also, unrelated to this issue, we need to give libseccomp-golang some love ...

[2021-01-14 18:47] drakenclimber commented on #310
Agreed.  I'm thinking this is my priority list for the next month or so:

1. travisci.org -> travisci.com
2. libseccomp golang
3. MASKED_NEG

[2021-01-14 22:46] Melab opened #311 "RFE: Python bindings that expose notification file descriptor"
Looking at `seccomp.pyx`, I can't find anyway to get the seccomp notification FD. Having this file descriptor is necessary to pass the handling of a program's system calls off to another program, such as when a container in LXC/LXD calls `mount` and the container software redirects the mount operation to software that has mount privileges.

[2021-01-14 23:28] cyphar commented on #11
I can do the syscall spelunking to figure out a version number for each syscall -- the only question is whether we should have the version number be per-architecture since I'm pretty sure certain syscalls were added to different architectures in different releases.

[2021-01-15 14:25] pcmoore commented on #11
They most definitely were, and still are, as far as I can see.  While it is going to be slightly annoying, and will definitely explode the CSV, tracking the syscall's first appearance for each arch/ABI is probably the right thing to do.

Any help you can provide on this @cyphar would be greatly appreciated.

[2021-01-15 22:40] pcmoore commented on #311
Hi @Melab

Looking quickly at the code, I agree, there doesn't appear to be an easy way to extract the FD from the Python object for use by other processes.  I guess I always assumed in this case developers would be using the native/C library and not the Python bindings.

I've added this as a issue for the next v2.5.x release, thanks for bringing this up.

[2021-01-19 19:18] pcmoore commented on #255
GitHub now supports renaming branches, see below:

* https://github.blog/changelog/2021-01-19-support-for-renaming-an-existing-branch

This looks like it should be seamless, what do you think @drakenclimber, any objections to me making the change now?

[2021-01-19 21:27] drakenclimber commented on #255
Cool!  I was hoping they would automate away most of the pain.  This looks great.

Let's do it!

[2021-01-19 22:21] drakenclimber opened #312 "RFE: Transition from travis-ci.org to travis-ci.com"
travis-ci.org is being decommissioned and will go away in the near future.

Follow the steps here to transition libseccomp to the new travis-ci.com site.
https://docs.travis-ci.com/user/migrate/open-source-repository-migration

[2021-01-19 22:22] drakenclimber commented on #312
I logged into travis-ci.com, but they are still in the beta phase, thus we can't transition yet.

[2021-01-22 21:54] pcmoore commented on #255
Okay, the rename is done and I pushed a small commit with updates to the README.md (point the badges at the new branch) for the main, release-2.5, and release-2.4 branches (everything else is unsupported at this point).

I'm going to close this issue as I think we are done, but if anyone notices anything wrong with the rename please drop a comment below and we'll work on fixing it up.

[2021-01-22 21:54] #255 closed

[2021-01-22 21:56] drakenclimber commented on #255
Thanks, @pcmoore!

[2021-01-22 22:07] pcmoore commented on #312
Bah!  They are definitely not making this easy are they? ;)

[2021-01-25 15:08] drakenclimber opened #313 "RFE: add documentation note about ppc64le glibc quirks"
See libseccomp-golang [issue #61](https://github.com/seccomp/libseccomp-golang/issues/61).

When a syscall is blocked via `SCMP_ACT_ERRNO`, glibc on ppc64le is returning that errno as a positive number - and this, thus looks like a valid PID.  (I don't know if other ppc64le syscalls also mishandle errnos.  I'm betting `getppid()` behaves the same.)

Finally, in ppc64le's defense, the man page for

[2021-02-03 20:39] trofi opened #314 "BUG: add support for the faccessat2() syscall"
In `pax-utils` (libseccomp user) we recently discovered that `glibc-2.33` started using `faccessat2` syscall: https://bugs.gentoo.org/768435

Would it be reasonable to add it to list of known syscalls it `seccomp-syscalls.h`?

Thanks!

[2021-02-03 22:31] pcmoore commented on #314
Hi @trofi, what version of libseccomp are you using?  I ask because the `faccessat2()` syscall has been defined in libseccomp since v2.5.0; if you are using an older version of libseccomp you are strongly encouraged to upgrade to the latest v2.5.x release (currently that is v2.5.1).

Here is a the definition in the v2.5.0 release tag (HINT: the syscalls.csv file is searchable in GitHub):
* https:/

[2021-02-04 06:59] trofi commented on #314
Oh, interesting. I'm using release `2.5.1`, but my `/usr/include/seccomp-syscalls.h` doe not seem to have needed syscalls available for use with `SCMP_SYS(faccessat2)` macro:

[code]

[code]

Could it be that release tarball (and git tree) contains pregenerated list of syscalls from that file that was not updated after csv change?

[2021-02-04 14:57] drakenclimber commented on #314
Good find.  Looks like we're missing the appropriate #defines for `faccessat2` in seccomp-syscalls.h

[2021-02-04 16:13] pcmoore opened #315 "RFE: src/arch-syscall-check.c should also verify the presence of the __SNR_xxx defines"
This came out of issue #314.  While `arch-syscall-check.c` is good at ensuring the internal libseccomp syscall tables are consistent across arch/ABIs, it doesn't verify that we have the necessary `__SNR_xxx` definitions to match.

[2021-02-04 16:14] pcmoore commented on #314
Ha, yes, it looks like you guys are right!  I went ahead and added this to the v2.5.2 milestone so it should be in the next v2.5.x maintenance release.

I also created issue #315 to have the `src/arch-syscall-check.c` test for this so hopefully we can catch these during development in the future.

[2021-02-04 16:16] pcmoore commented on #315
It's worth noting that the move to the CSV syscall table means the current tests in `src/arch-syscall-check.c` are largely pointless; the automatically generated syscall tables *should* always be in sync across the different arch/ABIs.  This isn't to see we need to drop these existing checks, but if dropping these checks makes it easier to solve this issue I have no problem doing that.

[2021-02-16 17:33] sswarnas1 opened #316 "BUG: Add support for the close_range() syscall"
Hi,

one of my application is using close_range syscall. when i used libseccomp for hardening, i am getting operation not permitted error for this syscall as the libseccomp 2.4.3 version i am using does not have this support.

can someone suggest how i can handle my case.

Thank you

[2021-02-16 17:59] drakenclimber commented on #316
Looks like `close_range()` made it into the kernel in June 2020 [1].  We'll target adding support for this syscall in the next 2.5.x release.

@sswarnas1 - If you are interested, patchsets are always appreciated :).

[1] https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=278a5fbaed89dacd04e9d052f4594ffd0e0585de

[2021-02-16 18:02] brauner commented on #316
On Tue, Feb 16, 2021 at 10:00:15AM -0800, Tom Hromatka wrote:

And extended with CLOSE_RANGE_CLOEXEC support in 5.11. ;)

[2021-02-17 17:59] senthilv2k opened #318 "Q: unable to build qemu-4.2.0 in yocto-poky-3.1.3"
Hi All,
Am upgrading to yocto-poky-3.1.3 and getting below compilation error.

|..../xrev/tmp/work/x86_64-linux/qemu-system-native/4.2.0-r0/qemu-4.2.0/qemu-seccomp.c:22:10: fatal error: seccomp.h: No such file or directory
|    22 | #include <seccomp.h>
| compilation terminated.

 Any suggestion to fix this issue? Is there any existing fix available for this?

[2021-02-18 18:51] senthilv2k commented on #318
@pcmoore could you please help here?

[2021-02-18 19:49] pcmoore commented on #318
@senthilv2k you don't have to ping me directly, since I'm watching this project I see all the new issues by default.

Regardless, it sounds like this is either a Yocto problem (not shipping the "seccomp.h" header, or not configuring the QEMU build correctly) or a user problem (you didn't install the necessary prerequisites before trying to build QEMU with libseccomp support.

I am not a Yocto expe

[2021-02-19 06:28] senthilv2k commented on #318
Thanks @pcmoore for your reply.
As you suggested, i have raised the query in Yocto forum (https://lists.yoctoproject.org/g/poky/topic/80748567#12358)
I have been asked to "add libsecomp dependency for native".

Not really sure, which file do i need to add libseccomp dependency?
Any suggestion on this?

[2021-02-19 16:27] pcmoore commented on #318
As mentioned previously, this is the upstream libseccomp project and we aren't experts in, or even familiar with, all the various Linux based distros.  We try to help when we can, but for help with Yocto I suggest working with the rest of the Yocto community to resolve this problem; we aren't able to help in this case.

I am going to close this issue as it appears to be a problem with Yocto packag

[2021-02-19 16:27] #318 closed

[2021-04-17 20:24] pcmoore commented on #312
Since the transition deadline is still "fuzzy" to put it mildly I'm going to pull this from the v2.5.2 milestone and let it float.  We will still need to look at this at some point, but until Travis makes the move there is nothing for us to do here.

[2021-04-20 15:58] pcmoore opened #323 "RFE: investigate Rust bindings"
Given the growing popularity of Rust for system development, it seems like it might be a good idea to support a set of libseccomp Rust bindings.  We could develop our own, but it seems that a developer has already created a set of bindings for Rust:

* https://github.com/polachok/seccomp-sys

I'm not a fan of reimplementing perfectly good code, so if the bindings above seem reasonable we may want

[2021-04-20 16:01] pcmoore commented on #323
@drakenclimber thoughts on this?  If this sounds good I can reach out to polachok to see if they are interested.

At the very least I would want to make sure that they are okay with the stuff in CONTRIBUTING.md and MAINTAINER_PROCESS.md; it seems like any project under github.com/seccomp should adopt similar policies.  Thoughts?

[2021-04-28 15:23] drakenclimber commented on #323
Yes, I think rust support would be a very good thing.  (Aside - the rust kernel RFC that was recently sent out seems very interesting.)

Sounds great to me.  If possible, I would love to credit and use an existing project rather than reinventing a wheel.

[2021-04-28 23:50] pcmoore commented on #316
This should be resolve with PR #322 so I'm going to close this out; the fix will be in the next v2.5.x release.

[2021-04-28 23:50] #316 closed

[2021-04-28 23:50] pcmoore commented on #314
This should be resolve with PR #322 so I'm going to close this out; the fix will be in the next v2.5.x release.

[2021-04-28 23:50] #314 closed

[2021-04-29 01:10] pcmoore commented on #304
Closed via #324.

[2021-04-29 01:10] #304 closed

[2021-05-10 23:43] oxr463 commented on #195
Hi there! Do you have any bandwidth for this now?

[2021-05-18 13:06] KentaTada commented on #323
Hello,  @pcmoore @drakenclimber

I'm sorry to interrupt you, but I'd like to introduce you to our related project.
We have been developing a set of bindings for Rust https://github.com/ManaSugi/libseccomp-rs to use it for Kata container and our rust-based container runtime.
We will continue to maintain our libseccomp-rs because it will be adopted for Kata.
Could you check our project if you are in

[2021-05-18 14:19] ManaSugi commented on #323
@KentaTada Thank you for the introduction!

Hello, @pcmoore, @drakenclimber
As described above, we are developing the [libseccomp-rs](https://github.com/ManaSugi/libseccomp-rs) that is a set of projects (high-level bindings, low-level bindings, and tool for generating low-level bindings automatically).

The [libseccomp crate](https://crates.io/crates/libseccomp) wraps [libseccomp-sys](https://crat

[2021-05-19 22:45] grubeli opened #325 "Q: intercept syscalls from same process"
I'm working on a sandbox on Linux, what I want to achieve is to intercept syscalls and return emulated value or change registers/pointers and execute the syscall with modified value.

I would like to achieve this from the same process, my code is already injected into the target process during startup.

Is it possible to do with seccomp?
If you have some example would be helpful or any other recom

[2021-05-19 22:59] pcmoore commented on #325
It is probably worth mentioning that attempting to intercept syscalls as a form of sandboxing from within the same address space as the process being sandboxed is going to be prone to failure.  A malicious application could find a way to detect that it is being sandboxed and take action against the sandboxing code running in its address space.

A better option would be to go with a more traditiona

[2021-05-19 23:03] grubeli commented on #325
I'm pretty new to seccomp, day before even didn't knew about it's existence, if I understood correctly recent addition of notifications gives us ability to handle syscalls from usermode.
Do you have a code I can use as a reference for this task (seccomp notif. to intercept syscalls) ?

[2021-05-20 12:43] grubeli opened #326 "Q: disable SECCOMP_FILTER_FLAG_NEW_LISTENER for a single thread"
I enabled SECCOMP_FILTER_FLAG_NEW_LISTENER and works well, is it possible to disable it for a specific thread in a process with tid?

[2021-05-20 14:39] pcmoore commented on #325
You could always check the test below, it's rather simple but it should give you a basic idea on how to use it:
 * https://github.com/seccomp/libseccomp/blob/main/tests/58-live-tsync_notify.c

I'm going to close this issue as I think the question has been resolved, but if you disagree feel free to reopen/comment.

[2021-05-20 14:39] #325 closed

[2021-05-20 14:50] pcmoore commented on #326
Do you mean loading a different filter for each thread in a process such that only some filters/threads are subject to supervision by the listener?

Also, a reminder that there is not practical security isolation between threads in a single process.  Using one thread to enforce security policy on another is inherently flawed.

[2021-05-20 14:56] pcmoore commented on #323
Thanks @KentaTada and @ManaSugi, this is something worth looking into!  Unfortunately I am still new to Rust so it is hard for me to judge things at the moment but I definitely prefer bindings which are generated by hand over automated bindings; they tend to hold up better over the long run.  This is one of the reasons why the Python bindings were done by hand using Cython and not automated via SW

[2021-05-20 14:57] grubeli commented on #326
Thanks, yes I'm aware of security flaw in this design but this is environment I work, so I can't change that.

I'm enabling SECCOMP_FILTER_FLAG_NEW_LISTENER  on same process and have handler in a different thread, the handler works well but if I use same syscall inside the handler is causes problems as expected, so what I want is to exclude this specific thread where the handler is located to excl

[2021-05-20 15:11] grubeli commented on #326
If have have a thread id before setting BPF filter, maybe it's possible to use BPF to exclude the thread?

[2021-05-20 20:45] pcmoore commented on #326
Two things come to mind: first make sure the TSYNC filter attribute is off/0, second make sure that you spawn the supervisor thread *before* you install the filter in the worker thread.  If you load a filter and then spawn a number of threads, all of the newly spawned threads will inherit the filter.

[2021-05-20 21:24] grubeli commented on #326
That works, thanks

[2021-05-20 21:24] #326 closed

[2021-05-20 21:25] pcmoore commented on #326
Cool, glad that worked for you - good luck!

[2021-05-22 11:32] Hello71 commented on #18
i'm thinking of working on something in this area. @drakenclimber could you outline some of the issues involved here? thanks!

[2021-05-23 15:46] ManaSugi commented on #323
@pcmoore Thank you for your valuable opinion.

I understand the reason.
We can stop using  `bindgen`  and maintain the crate by hand.
In that case, all we have to do is change `libseccomp-sys` which is low-level bindings inside `libseccomp-rs`.

[2021-05-24 19:48] drakenclimber commented on #18
Sure.

A friend of mine experimented with this a few years back.  His static analyzer started at `main()` and walked through the entire program, branch by branch.  Figuring out the syscalls within the program itself wasn't too bad, but things started to get out of control when the program invoked a library.  Every system update, he needed to re-run the static analyzer because some libraries had ch

[2021-05-24 20:46] drakenclimber commented on #323
I looked through libseccomp-rs.  Nice work, @ManaSugi and @KentaTada.  It looks really solid to me.

I have a handful of thoughts:
* I see that calls to the libseccomp C library are surrounded by unsafe, e.g. `let ret = unsafe { seccomp_export_pfc(self.ctx.as_ptr(), fd.as_raw_fd()) };`.  Did you experience memory issues without the `unsafe` flag?
* I noticed you have continuous integration setup (

[2021-05-24 20:55] drakenclimber commented on #323
After looking at the [Rust documentation](https://doc.rust-lang.org/book/ch19-01-unsafe-rust.html), are you using the `unsafe` block for the pointer dereference?  Would it be possible to only `unsafe` the dereference so that we can take advantage of Rust's memory checking in more places?

[2021-05-26 16:43] ManaSugi commented on #323
Thank you very much for the review of our crate, @drakenclimber.

The reason why all calls to the libseccomp C library are surrounded by `unsafe` block is that we must use `unsafe` when we use Rust's FFI(Foreign Function Interface).
Foreign Functions are assumed to be unsafe so calls to them need to be wrapped with `unsafe` as a promise to Rust's compiler that everything contained within truly is

[2021-05-26 18:19] drakenclimber commented on #323
Makes sense.  Thank you.  I'm newer to rust as well and hadn't used the FFI portion yet, but did hit the memory checking once.

Sounds good.

As I said originally, I try to stay out of license discussions and leave them to the lawyers :).  But what you outlined above is exactly the scenario I was afraid of.  It might be good to run these scenarios by your company's legal team.

(Warning - not a fu

[2021-05-28 16:16] ManaSugi commented on #323
@drakenclimber, Thank you for the kind reply.

I'm sorry, I misunderstood about the automated tests, but now I understand that.
Do you mean that we should aggregate tests all in one [tests directory of libseccomp](https://github.com/seccomp/libseccomp/tree/main/tests)?
I think it sounds great because we can get better function code coverage for various languages as you mentioned.
I'm interested in

[2021-07-19 15:50] drakenclimber commented on #323
Possibly, but honestly I don't really know.  I am also the maintainer of [libcgroup](https://github.com/libcgroup/libcgroup), and a while back we split our tests into a separate [git repo](https://github.com/libcgroup/libcgroup-tests).  Overall I have mixed feelings on the split.  The tests can grow and change without excess code churn in the main repo, but keeping the two repos in sync is more wo

[2021-07-20 02:33] pcmoore commented on #312
I just went to verify that the Travis build completed okay after some pushes and I was greeted by this message:

... it looks like we need to figure this out, and soon.

[2021-07-20 15:38] drakenclimber commented on #312
I'm a little leery of Travis' new business model.  It looks like open source will remain free (for now), but they have not made it easy.  We may need to periodically request more "credits" from them.
https://docs.travis-ci.com/user/billing-faq/#what-if-i-am-building-open-source

[code]

[2021-07-20 16:16] pcmoore commented on #312
Ugh, that sucks :/

I need to refresh my memory on what you found out about GH Actions; it was far from perfect, but considering the Travis CI changes it might be the better option.

[2021-07-20 16:17] pcmoore commented on #312
Here we go ... #299

[2021-07-20 16:25] pcmoore commented on #312
Okay, having refreshed my memory on #299 I think the best option *right now* is to migrate to GH Actions and stick just to x86_64 CI builds for the time being.  That seems like the quickest path to restoring PR/branch and code coverage tests with the least amount of headaches.

The lack of other arches/ABIs is troubling, but realistically we don't test every arch/ABI on a regular basis anyway (how

[2021-07-20 16:50] drakenclimber commented on #312
Sounds good to me.  I can own the transition since I already did it for libcgroup.

We've been using Github Actions in libcgroup for quite a while now, and it's worked quite well.  The jobs were easy to transfer over from Travis.

The Github Actions VMs didn't provide a feature we needed in libcgroup (a full cgroup v2 system), so I recently created a VM on the Oracle Free Cloud and [connected it u

[2021-07-21 21:33] pcmoore commented on #312
Sorry, I should have been more clear.  I meant I may have some ideas around supporting aarch64, not about Travis/GH in general.

Regardless, thanks for you work on this in PR #329.

[2021-08-12 18:10] pcmoore commented on #312
Since we've moved to GitHub Actions I think we can close out this issue, if anyone has any objections please feel free to either reopen or drop a comment.

[2021-08-12 18:10] #312 closed

[2021-08-12 18:11] pcmoore commented on #311
As this is the only outstanding issue in the v2.5.2 milestone I'll go ahead and claim this issue and start working on it.

[2021-08-12 18:35] pcmoore commented on #311
Given we already have a C/native API for this with `seccomp_notify_fd()` it seems like the Python API should stick to that as much as possible.  What do you think of the snippet below @Melab @drakenclimber for the `SyscallFilter` class?

[code]

[2021-08-12 19:27] pcmoore commented on #311
FYI, PR #332 is basically the code snippet above turned into a PR.

[2021-08-12 19:33] pcmoore commented on #309
I'm closing this issue as it isn't relevant anymore now that we've migrated to GH Actions.

[2021-08-12 19:33] #309 closed

[2021-08-12 19:34] pcmoore commented on #224
I'm closing this issue as it isn't relevant anymore now that we've migrated to GH Actions.

[2021-08-12 19:35] pcmoore commented on #272
This was resolved in #285.

[2021-08-12 19:35] #272 closed

[2021-08-17 16:02] pcmoore commented on #313
Any progress on this @drakenclimber ?  We're getting *really* close to having all of the v2.5.2 issues resolved so I'm just checking on the few outstanding issues ...

[2021-08-17 17:49] drakenclimber commented on #313
I can put together some documentation notes on this issue this afternoon.

[2021-08-17 19:42] drakenclimber commented on #313
@pcmoore, hmmm... I'm looking through the doc files right now.  Where do you think would be a good place to put this documentation note?  I don't see a good place for documenting runtime seccomp errors.  My thought is to add something to `seccomp_rule_add.3`, but I'm not enamored with this.

[2021-08-17 20:33] drakenclimber commented on #313
I've pushed a swag at resolving this.  Feel free to propose improvements.   Thanks!

[2021-08-18 20:04] pcmoore commented on #313
Thanks @drakenclimber, adding it to the `seccomp_rule_add(3)` manpage seems like a good place for right now.  I added a few small comments to your patch, but overall it looks good.

[2021-08-18 20:46] drakenclimber commented on #313
Thanks for the comments, @pcmoore.  Good improvements all around.  I've pushed them to pull request #333 333

[2021-08-23 15:07] pcmoore commented on #311
Resolved withPR #332.

[2021-08-23 15:07] #311 closed

[2021-08-23 15:11] #313 closed

[2021-09-02 10:27] Cypresslin opened #336 "Q: 11-basic-basic_errors failed with Ubuntu Bionic 4.15 kernel"
Hello,

we have found that the recent commit, fcc601279004a7, to the 11-basic-basic_errors test case will cause failure on Ubuntu Bionic 4.15 kernel.

     batch name: 11-basic-basic_errors
     test mode:  c
     test type:  basic
    Test 11-basic-basic_errors%%001-00001 result:   FAILURE 11-basic-basic_errors rc=255

Kernel version:

    Linux glameow 4.15.0-156-generic #163 SMP Mon Aug 30 08:0

[2021-09-03 02:09] pcmoore commented on #336
We know that the test case works on modern kernels, and they *should* also be safe on older kernels as well, although it is possible that when cherry-picking kernel patches the distro creates an off franken-kernel which doesn't behave as one would expect an upstream kernel to behave.

I don't have an Ubuntu Bionic system handy to test this, but could you trace through the test to see where it is f

[2021-09-03 17:22] drakenclimber commented on #336
[code]

It looks like Ubuntu 18.04 is failing on [this line](https://github.com/seccomp/libseccomp/blob/main/src/system.c#L461):
[code]

The rc is `-1` and errno is set to `EINVAL`.  I don't know what the aforementioned Ubuntu kernel is doing.  I'll leave that as an exercise for the reader :)

[2021-09-03 17:35] pcmoore commented on #336
Hmm, yeah, it looks like the `seccomp_notify_alloc()` call in test 11 needs to be put behind an API level check and only tested if the API level is at "5" or above.

Not sure if that is the original reporters problem, but it is *a* problem.

[2021-09-10 18:22] pcmoore opened #337 "RFE: investigate SPDX"
We should look into making sure libseccomp, and the various bindings, have the necessary SPDX markings.  More information for reference:

* https://spdx.dev
* https://lwn.net/Articles/868882

[2021-09-17 05:10] josch opened #338 "BUG: with 2.5.2 tests fail on arm64, armhf, mips64el & mipsel"
Hi,

version 2.5.2 was uploaded to Debian and the tests fail on several architectures:

https://buildd.debian.org/status/package.php?p=libseccomp

For detailed build logs, click on the red "Build-Attempted" table cells.

I bisected libseccomp from git on two of the failing architectures and figured out that the failure on arm64 was introduced in aa0f858aa58d51c93a176c60a4c83a4a303bcffd and the fai

[2021-09-17 19:00] drakenclimber commented on #338
Thanks for the submission, @josch.  The arm64 failure is likely similar to Issue https://github.com/seccomp/libseccomp/issues/336.  As currently written, test 11 will fail on older kernels that don't support the `SECCOMP_GET_NOTIF_SIZES` flag.

Failures on other architectures has been a fear of mine since we lost our automated testing on arm64, ppc, etc.  I wish I had a better answer :/

[2021-09-17 22:29] debfx commented on #338
One of the tests that fails on mipsel is:

[code]

(from 11-basic-basic_errors.c)

[2021-10-09 06:00] vapier opened #342 "RFC: tool to precompile filters"
one downside to libseccomp is that you have to link it into every project that wants to use it, and then generate the bpf program on the fly before it can be loaded.  this is useful in some scenarios (where the filter needs are dynamic), but a common situation (in my experience in Chrome OS) is that the filter is always the same on every run.  it would be nice if we could compile the filter at bui

[2021-10-12 19:16] vapier commented on #342
I certainly understand the concern about scope creep. I'm happy to take it one step at a time.

I'll start with the C header generation in #15. I did a quick search before but didn't find that one, so thanks for the link.

up to you whether you want to close this issue now, or leave it open for a bit in case anyone shows up with their thoughts. not that reopening is hard to do.

[2021-10-13 05:45] vapier commented on #15
how would one handle multiple programs in a single project ?  for example, i want to generate two filters and then select between them based on runtime settings -- if i know i need to fork a helper, i'll load one filter, but if i don't need that, i'll load a smaller filter.  if we only ever defined `seccomp_load_chdr`, it wouldn't be easy to utilize.  the caller would have to `#define seccomp_load

[2021-10-15 17:19] Cypresslin opened #345 "Q: proper use of the '-b' and '-s' options in the test tool"
If you try to run one specific test with the tests/regression script with the `-s` flag, it will trigger more tests than you have requested.

This is because the script will loop through all the test files in `run_tests()` and then iterate over their content. The if statement to check for the requested test number `${single_list[@]}` in `run_test_batch()` is incorrect. It's trying to match with th

[2021-10-15 19:36] pcmoore commented on #345
Hi @Cypresslin,

I could be mistaken, but I think you have confused the '-s' and '-b' options to the 'regression' tool.  The '-b' option allows the user to specify the test (e.g. "02-sim-basic") and the '-s' option allows the caller to specify a specific test line.  For example, if I wanted to only execute the first test in the "02-sim-basic" test I would give the following command:
[code]

[2021-10-15 19:56] pcmoore commented on #338
Hi @josch, I'm not sure this will solve all of your problems, but could you try PR #346?

[2021-10-18 04:55] Cypresslin commented on #336
Hi @pcmoore,
PR #346 tested with 4.15.0-159-generic #167-Ubuntu, this test will be skipped.

    Test 10-sim-syscall_priority_post%%008-00001 result:   SUCCESS
     batch name: 11-basic-basic_errors
     test mode:  c
     test type:  basic
    Test 11-basic-basic_errors%%001-00001 result:   SUCCESS
     batch name: 12-sim-basic_masked_ops
     test mode:  c
     test type:  bpf-sim
    Test 12-si

[2021-10-18 05:58] Cypresslin commented on #345
Ah yes,
I got confused by the definition of "batch of tests" and "individual test number".
So this can be closed.
Thanks

[2021-10-18 05:58] #345 closed

[2021-10-18 22:04] pcmoore commented on #336
Thanks for checking @Cypresslin, since we've merged that PR into both the main and release-2.5 stable branch I'm going to close this issue; the fix will be included in the next libseccomp v2.5.x release.

[2021-10-18 22:04] #336 closed

[2021-10-18 22:22] pcmoore commented on #338
Thanks @debfx and @josch.  Looking at the log that @debfx posted I'm most concerned with the "02-sim-basic" test failures as that is a pretty basic test and the failures would indicate that something fundamental has gone wrong.  This is especially perplexing as most of the arch specific syscall lookup code is now common, see f454456e261930d94b3a1a444b6bac75c11c3cb0.

@debfx and @josch do either of

[2021-10-19 13:57] kanavin opened #347 "BUG: seccomp v2.5.2 broken on mips"
After this commit
https://github.com/systemd/systemd/commit/f833df38488ea40fc3d601ccefd64cfa3fce8bb4
systemd starts throwing failures on boot like this one:
[code]

This happens only on mips32 - not on mips64, not on ppc, arm 32/64 or x86 32/64. So it's reasonable to assume the issue is in seccomp and not in systemd, hence this ticket.

[2021-10-19 18:53] kanavin commented on #347
Here's the same test run separately with slightly more verbose output:
[code]

[2021-10-19 23:28] pcmoore commented on #338
Bummer.  @debfx can you run the test program directly (see below) and put the result somewhere?  It is probably a bit too large for this issue, but perhaps a linked GH gist?
[code]

[2021-10-20 06:40] debfx commented on #338
It doesn't output anything.

The call in line 63 returns -EINVAL on iter=168:

[code]

When I remove the goto, I can see that with iter 168 - 184 it returns -EINVAL. iter 185 - 199 return 0 again.

[2021-10-21 05:23] rdwnali opened #349 "Using seccomp system-wide"
Hi.
I have a question about seccomp. can we use seccomp as system-wide and trace all processes on system?
As far as I know, it can only be used with forking main process and exec certain process to trace or be restricted. how can we use this for all processes?
thank you.

[2021-11-01 17:15] pcmoore commented on #347
Closing this out as I believe we have fixed this in #348.

[2021-11-01 17:15] #347 closed

[2021-11-01 17:16] pcmoore commented on #338
Closing this out as I believe we have fixed this in #348, feel free to reopen if the problem remains.

[2021-11-01 17:16] #338 closed

[2021-11-07 14:03] Timmmm opened #357 "RFE: provide rendered documentation"
It would be helpful if you could provide rendered man pages so you can read the documentation without having to install the library etc.

[2021-11-07 14:05] Timmmm opened #358 "Add examples"
It would go a long way to justifying the "easy to use" claim in the readme if there were examples available. As it stands the raw Linux interface is actually easier to use because I can copy existing examples (e.g. [this one](https://github.com/torvalds/linux/blob/5bfc75d92efd494db37f5c4c173d3639d4772966/samples/seccomp/user-trap.c)).

[2021-11-07 14:20] pcmoore commented on #358
That's a bit of an inflammatory comment isn't it?  It's unclear if you are open to suggestions about approaching volunteer and community driven projects with suggestions, but if you are it has been my experience that respect goes much further than the language used above.

Beyond that, and getting back to your suggestion, most (all?) of the manpages include examples and our regression test suite c

[2021-11-07 14:20] #358 closed

[2021-11-07 14:24] pcmoore commented on #357
We have an open issue for this, please see #83.  We generally don't like to keep multiple issues open on the same thing/topic so I'm going to close this in favor of #83 (it predates this issue and has some history), but if you feel this issue is genuinely different please feel free to comment/re-open and we can discuss further.

[2021-11-07 14:24] #357 closed

[2021-11-15 14:50] drakenclimber commented on #358
I think better and more examples are almost always a good thing.

While that looks easy to copy/paste, it's a lot of code and it has some arcane sections, `BPF_*`, that may be difficult to maintain.

Personally I found libseccomp's [automated tests](https://github.com/seccomp/libseccomp/tree/main/tests) to be a great resource when I was first starting out in the project.  There's an example usage

[2021-12-29 06:37] norway5354 opened #359 "Q: modify seccomp filter for a running process"
If a process with seccomp filter is already running in memory. Can I modify the seccomp filter of this process remotely by programming? This may involve process injection.Thank you!

[2021-12-29 16:31] pcmoore commented on #359
Hi @norway5354.

No, once a seccomp filter is loaded into the kernel it can not be modified.  However, it is possible to load additional seccomp filters into the kernel for a given process assuming that the seccomp loading mechanisms, e.g. `seccomp(2)` or `prctl(2)`, have not been blocked by any of the existing seccomp filters.

When multiple seccomp filters are loaded into the kernel each filter

[2021-12-29 16:31] #359 closed

[2021-12-30 01:41] norway5354 commented on #359
OK, thank you for your reply!

[2021-12-30 12:47] pcmoore commented on #359
Your welcome @norway5354, if you have any more questions feel free to enter new issues.  Thanks!

[2022-01-03 14:16] ManaSugi commented on #323
Hello, @pcmoore @drakenclimber

I'd like to share the updates for our [`libseccomp`](https://crates.io/crates/libseccomp) crate that is rust bindings. We released v0.2.0 including major updates a few days ago (The latest version is v0.2.2). The current `libseccomp` crate provides many features that are close to the `libseccomp-golang`.

In addition, we have started managing the [`libseccomp-sys`](

[2022-01-03 17:32] drakenclimber commented on #323
I really like what you've done with these two crates.  Hiding the ugly C bindings in the low-level sys crate makes for a clean interface.  The interfaces in the user-facing libseccomp crate map nicely to the low-level C while still taking advantage of Rust and its nifty features.  Nice work.

Your integration of the Rust code and the existing libcgroup library/tests is creative.  Very cool.  I hav

[2022-01-05 13:55] ManaSugi commented on #323
JFYI: I squashed the commits and refactored the test programs: https://github.com/ManaSugi/libseccomp/commit/b2499186d6d311ef27bc1c1920a09b1dd20d7c96
Thank you.

[2022-01-30 08:20] ManaSugi opened #368 "Q: SCMP_FLTATR_API_TSKIP does not seem to be used by tracer programs"
Hello, I have a question about [`SCMP_FLTATR_API_TSKIP`](https://man7.org/linux/man-pages/man3/seccomp_attr_set.3.html) attribute.
`SCMP_FLTATR_API_SKIP` has been supported from https://github.com/seccomp/libseccomp/commit/dc879990774b5fe0b5d3362ae592e8a5bb615fbb in order to address the #80 and the man page explains as follows:

However, I think tracer programs do not use `SCMP_FLTATR_API_TSKIP` t

[2022-02-07 13:08] ManaSugi commented on #368
@pcmoore @drakenclimber I'd appreciate it if you could answer at your convenience.

[2022-02-14 22:28] pcmoore commented on #368
Well, the use case is exactly as you described in your posting above; it is intended to support process tracers :)

It has been several years since we made this change, so this reasoning may be wrong, but my recollection is that without a "syscall == -1" allow filter rule, the seccomp filter would reject the syscall skip before the kernel got to the skip line you mentioned.  The "syscall == -1" ru

[2022-02-16 11:47] ManaSugi commented on #368
@pcmoore Thank you for your comment.

Of course if you have a reproducer which shows that this doesn't work this way anymore I think we would like to see it :)

I attached the reproducer which shows that a tracer program can skip a system call without a "syscall == -1" rule.
The `ptrace_test.c` is a simple reproducer that skips a `getuid` syscall  using  `SECCOMP_RET_TRACE` by changing the registe

[2022-02-16 15:16] pcmoore commented on #368
Thanks for sending the reproducer and the additional information, we'll add this to the list of things to investigate further but it might take me some time to get back to this.

As a reminder, `SCMP_FLTATR_API_TSKIP` is disabled by default.

[2022-02-17 03:29] ManaSugi commented on #368
Thank you for considering review it. It would be helpful.

Yes, so I didn't enable the `SCMP_FLTATR_API_TSKIP` attribute in the reproducer to make sure that the kernel can skip the system call without the attribute.

[2022-02-25 12:51] xmo-odoo commented on #185
FWIW Sphinx has supported Markdown for a few years (though `MyST` and `markdown-it`). It obviously doesn't give access to the best goodies like autodoc and domains, but since the seccomp bindings use cython that probably doesn't matter too much.

[2022-03-14 19:33] kolyshkin opened #370 "BUG: enabled binary tree optimization with no rules results in default action being ignored"
Surely this is a corner case, and enabling binary tree optimization is obviously useless then there are no rules, but it still feels like a bug.

[code]

[2022-03-14 22:27] pcmoore commented on #370
Oh, that's fun :/

Although like you said the practical impact of this should be very close to nil.  Still, this could be potentially bad so let's go ahead and add it to the v2.5.4 milestone.  Any objections?

[2022-03-14 22:43] drakenclimber commented on #370
Agreed.

[2022-03-14 22:45] pcmoore commented on #370
A bit more info which may be useful in chasing this down ...

I modified a copy of "01-sim-allow.c" to this:
[code]

When run ***without*** the binary tree optimization I get this:
[code]

When run ***with*** the binary tree optimization I get this:
[code]

The x86_64/x32 check is correct on both, but in the binary tree case the syscall number is reloaded (line 0005) and the only return option is

[2022-03-14 22:51] pcmoore commented on #370
Well, as a quick-hack this "works":
[code]

... no idea yet if it still works for the other cases.

[2022-03-14 23:14] pcmoore commented on #370
Random observation, it looks like our binary trees may not always be properly balanced.

[2022-03-14 23:57] pcmoore commented on #370
Ran out of time today, if no one else has time to look at it I'll try to take another go at it later this week (or next).

[2022-03-15 13:22] drakenclimber commented on #370
Out of simplicity I designed it to fill up the left node before filling the right node.  (Each node is 4 syscalls.)  My rationale was that this optimization really only makes sense on really, really large filters.  An imbalance of (up to) 4 syscalls would be small compared to walking the entire filter of 200+ syscalls.

[2022-03-15 14:58] drakenclimber commented on #370
This made both of the above reproducers work for me.

[2022-03-16 17:48] drakenclimber opened #372 "BUG: Python distutils is deprecated"
On Fedora 35, the following warning is generated when building the Python bindings:
[code]

[2022-03-17 21:45] pcmoore commented on #370
Sorry for the delay, but this looks good to me.  Feel free to patch and merge.  Thanks @drakenclimber.

[code]

[2022-03-17 21:47] pcmoore commented on #372
The libcgroup approach looks good to me.  I assume this works on older versions of Python/Cython as well?

[2022-03-18 18:56] #370 closed

[2022-03-18 19:17] drakenclimber commented on #372
I haven't extensively tested the limits of which python/cython versions are supported, but I do know that it works on Oracle Linux 7 which contains:
[code]

[2022-03-29 13:15] pcmoore opened #375 "Q: consider dropping the mailing list"
While the mailing list was helpful in the early days of development, now that the project has been on GitHub for several years the mailing list is almost exclusively a spam trap.  I think it may be time to retire the mailing list, but I'd like to hear from others before we make any changes.

*If* we do decide to drop the mailing list I don't think we want to remove it entirely, simply mark it as (

[2022-03-31 15:13] drakenclimber commented on #375
Sounds good to me.  Obviously we'll need to update the documentation accordingly.

[2022-04-05 01:12] pcmoore commented on #375
Okay, I'll start putting things in motion ...

[2022-04-05 01:18] pcmoore commented on #375
Update:

* Removed the GH email notification on repo updates
* Updated the mailing list description to point people at the GH repo
* Restricted new subscriptions to an "ask" model
* Restricted new posts to the group managers

[2022-04-28 07:19] KentaTada opened #380 "RFE: Support for addfd to secomp user notifier"
The feature of addfd[1][2] allows the supervisor to install file descriptors into the intercepted task. By implementing this
feature via seccomp the supervisor effectively instructs the supervisee to install a set of file descriptors into its own file descriptor table during the intercepted syscall.
This feature is actullay used to accelerate the container network[3].

We want to need the support

[2022-04-28 12:52] brauner commented on #380
Yeah, it would be good to have this in libseccomp. We currently use this as well in an open-coded version in LXD https://github.com/lxc/lxd/blob/98935b925c0caffc9d4a083c191671d553739313/lxd/seccomp/seccomp.go#L395
it needs a nice API. And note usually this is paired with `pidfd_getfd()`.

[2022-04-28 13:10] pcmoore commented on #380
Thanks for the issue, this has been in the back of my mind but I haven't had the chance to work on it yet.  Having this as an issue should help a bit.  I've gone ahead and added it to the v2.6.0 milestone too.

A quick word of caution if anyone else is looking into implementing this in libseccomp: before you simply copy the lxd code in Christian's reply, please note the license differences between

[2022-04-28 13:13] pcmoore commented on #54
Looking back at this now, I'm not 100% convinced this is a good idea, and the age of this issue tends to imply that it isn't a "must have" for other projects.  I'm going to drop this from v2.6.0 now, but I'll leave it open for the time being.

Thoughts @drakenclimber?

[2022-04-28 13:17] brauner commented on #380
The seccomp selftests upstream also have the basic logic in there fwiw.

[2022-04-28 13:25] pcmoore commented on #123
Off the top of my head I'm not sure of the answer, but I think the request for a BPF filter pre-compute API is reasonable and would provide a solution to this problem.

[2022-04-28 21:26] drakenclimber commented on #375
This was resolved in commit 3c0dedd45713d7928c459b6523b78f4cfd435269.  Closing this issue

[2022-04-28 21:26] #375 closed

[2022-04-28 22:11] pcmoore commented on #11
As a FYI, I'm starting to look closer at our work queue for v2.6.0 and this jumped out as one of the larger items so I spent some time on it this afternoon while avoiding other work :)

I've got "arch-syscall-validate" so that it creates CSV files with minimum kernel versions for earch sycall/ABI pair, it also imports an existing "syscalls.csv" file to obtain any existing version information so we

[2022-04-28 22:55] drakenclimber commented on #11
Ironically I recently started looking at it as well :) [1].  I have everything working except for the BPF creation.

Feel free to use/discard any of my work.  Or if you want, we could have a quick chat to decide what to keep/throw away.

- I created an [introduced.csv](https://github.com/drakenclimber/libseccomp/blob/wip/issue11/src/introduced.csv) that contains the version a syscall was added for

[2022-04-28 23:32] cgwalters commented on #11
But conceptually that's not actually different than upgrading the kernel to a newer version.
We don't want to somehow start using new system calls just because the host kernel actually started supporting them! Right?

[2022-04-29 14:39] pcmoore commented on #11
I actually started on this issue yesterday because I knew you were thinking about this topic and figured I could jump start it by getting some of the basic infrastructure in place, it wasn't my intention to duplicate efforts ... oh well, the best laid plans of mice and men ;)

Regardless, I've probably only got a couple more hours if work before my basic PR is ready so I'll go ahead and submit tha

[2022-04-29 14:43] drakenclimber commented on #11
I was going to say the exact same thing. :)

I'm excited to see what you come up with.  I think we could solve this in a variety of ways and it may take a few iterations.

Thanks so much for the help!

[2022-04-29 18:12] pcmoore commented on #11
This ended up taking a bit more time than I thought today, but my initial infrastructure PR is up at  https://github.com/seccomp/libseccomp/pull/381.

[2022-05-06 04:12] jhenstridge opened #383 "Add support for comparisons against 32-bit arguments"
This issue came up while investigating a problem in the seccomp filters generated by snapd using libseccomp. We had a filter set up to allow calling the `copy_file_range` syscall provided that the sixth argument was 0. This was done through the Go binding with a condition equivalent to `seccomp.MakeCondition(5, seccomp.CompareEqual, 0)`. The filter worked fine for some programs using the syscall,

[2022-05-06 14:52] pcmoore commented on #383
Huh, that's fun.  I wonder if this is specific to golang?  The only reason I ask is that I'm guessing we would have seen more failures related to random junk in the high 32-bits of syscalls if this issue was more widespread ... or not.

Any chance you've played with this at all outside of golang?

[2022-05-06 15:19] rusty-snake commented on #383
Related: https://www.exploit-db.com/exploits/46594 / https://nvd.nist.gov/vuln/detail/CVE-2019-7303

[2022-05-06 15:26] jhenstridge commented on #383
We were building the seccomp profiles with Go. The programs failing under the filter were not in Go. This forum thread covers a few people reporting the bug:

https://forum.snapcraft.io/t/cannot-write-in-home-directory/24436?u=jamesh

Some of the reports were NodeJS and Electron apps. I'd also managed to reproduce the failure using this short Python program using ctypes to invoke syscall() directl

[2022-05-06 15:45] jhenstridge commented on #383
From the look of it, the NodeJS code is doing essentially the same thing as the Python code I found, and invoking syscall() directly.

https://github.com/nodejs/node/blob/e46c680bf2b211bbd52cf959ca17ee98c7f657f5/deps/uv/src/unix/linux-syscalls.c#L223-L242

As syscall() is a varargs function, it doesn't know the types of the arguments passed to it, so it has no way to know whether the a 32-bit or 6

[2022-05-06 15:50] pcmoore commented on #383
Thanks for the additional info, in your original problem report you only mentioned golang which raised some suspicion.

I'll go ahead and add this to the v2.6.0 milestone, patches/PRs are always welcome!

[2022-05-07 12:53] jhenstridge commented on #383
I think my hypothesis about where the garbage data in the syscall argument is coming from was slightly wrong: 32-bit loads into registers do in fact zero out the high 32-bits. The sixth argument to the system call is the seventh argument to the syscall() function (since the first is the syscall number). This overflows the registers used for function calls, so gets pushed onto the stack. So that is

[2022-06-21 10:37] Foosec opened #385 "Getting errno 14 and returned error code -13 when adding rule"
[code]

The above code only seems to error on adding the second rule, when seccomp_init doesn't use SCMP_ACT_NOTIFY or SCMP_ACT_ALLOW, for example setting it to SCMP_ACT_LOG proceeds without issue.

Hopefully im not missing some intended behaviour here.

The output of the above code is :
[code]

[2022-06-21 14:17] rusty-snake commented on #385
It's expected behaviour

`man 3 seccomp_rule_add`:

`EACCES` is 13

[2022-06-21 14:39] Foosec commented on #385
Thanks for the clarification, but if for example the default action passed in seccomp_init is NOTIFY, but the rules action is ALLOW for a specific FD, is that considered a conflict?

[2022-06-21 15:26] Foosec commented on #385
Thank you! Not sure how i missed that one.

[2022-06-21 15:26] #385 closed

[2022-07-01 23:34] sailinggalaxians opened #386 "BUG: libtool warning: '../src/libseccomp.la' has not been installed in '/usr/lib64' when running configure"
I'm trying to correctly package libseccomp-static for Mageia as such package doesn't exist amongst the libseccomp related packages.
The reason is that the snapd.spec file demands this package in order for snapd to be built.
As I run rpmbuild -ba libseccomp.spec I run into this warning message during the output:

libtool: warning: '../src/libseccomp.la' has not been installed in '/usr/lib64'

Secon

[2022-07-06 21:34] pcmoore commented on #386
Hi @sailinggalaxians,

Have you looked at how other distros package and ship libseccomp?  Here at the upstream project we generally don't spend a lot of time looking at how distros package libseccomp so I don't have a lot of ideas off the top of my head, but we can look into this if the problem is widespread.

Please report back and let us know what you find with respect to other distros.

[2022-07-11 01:55] #372 closed

[2022-09-01 12:20] alban opened #387 "RFE: add support for SECCOMP_FILTER_FLAG_WAIT_KILLABLE_RECV (Linux 5.19)"
Linux 5.19 introduced a new seccomp flag: SECCOMP_FILTER_FLAG_WAIT_KILLABLE_RECV
https://github.com/torvalds/linux/commit/c2aa2dfef243

I would like to use it to handle notification from Golang programs which are often preempted by the runtime with SIGURG.

Related issues in other projects:
- https://github.com/libseccomp-rs/libseccomp-rs/issues/142
- https://github.com/opencontainers/runtime-spec

[2022-09-20 02:49] pcmoore commented on #123
@abudnik see PR #390 for an implementation of `seccomp_precompute()`, it would be nice if you could look it over to make sure it solves your problem.

[2022-09-22 01:56] #123 closed

[2022-10-14 10:49] ManaSugi commented on #323
Hello, @pcmoore @drakenclimber

I've released [libseccomp-rs v0.3.0](https://github.com/libseccomp-rs/libseccomp-rs/releases/tag/v0.3.0) recently, but I'm sorry for the late update on the [test programs](https://github.com/ManaSugi/libseccomp/commit/22b12a77a9a27e941a27cea1f14b804a87e3d86e) for rust.

Currently, I prepared for 12 tests for rust, but there are still a lot of tests and it could take

[2022-10-14 19:10] pcmoore commented on #323
Thanks for the update @ManaSugi

[2022-10-28 13:44] 187sec opened #393 "SPAM"
2: st←ε
3: round ← 1
4: Gen ← ∅
5: Rank←⟨ε⟩
6: (c,A,c)←exchangeChallenges(1 )
7: while True do
8: k ← round − l − 2
9: MGen ← {(⟨s′, x′, ctr′⟩, ⟨A′l+1, . . . , A′l+1−k⟩)} from Receive()
10: MChain ← chains C′ found in Receive()
11: (Gen, Rank) ← updateValidate(c, A, MGen, Gen, Rank)
12: C ̃ ← maxvalid(C, MChain, Gen, Rank)  ̃
13: ⟨st, x⟩ ← I(st, C, round, Input(), Receive())  ̃
κ
14: Cnew ←pow(x,C

[2022-10-29 10:52] pcmoore commented on #393
Closing as SPAM

[2022-10-29 10:52] #393 closed

[2022-11-01 11:27] zippy2 commented on #386
It was added by the following commit which does not justify it at all:

https://src.fedoraproject.org/rpms/snapd/c/635e8856c417ac58768fa7a347ec46e76dfba3f9

Looking into libseccomp.spec I can see it defines -static package:

https://src.fedoraproject.org/rpms/libseccomp/blob/rawhide/f/libseccomp.spec

@sailinggalaxians maybe you need to fix the specfile in Mageia then? I have no idea where those l

[2022-11-02 07:10] 187sec commented on #393
0x66 0xFC 0x72). T

[2022-11-26 08:25] valoq opened #396 "Q: Abstract socket argument filter"
I'm trying to use libseccomp to create a filter that prevents the use of abstract sockets and as far as I can tell, it works.
Since the sun_path[0] for abstract sockets is a null byte ('\0'), I look for just that and blacklist it.

However I am unsure if this has the same TOUTOC issue that comes with filters targeting file path arguments.

The filter looks like this:
`
seccomp_rule_add (ctx, SCMP_

[2022-11-26 08:54] rusty-snake commented on #396
Everytime your filters decision depends on memory controlled by the supervised process (`/proc/[tid]/mem`, `process_vm_readv`, ...) it will be vulnerable to TOUTOC attacks. No matter what the memory is; filepath, socket address, open_how structs, ptrace data, ... all kinds of pointers that need to be dereferenced.

Arg1 of connect is `const struct sockaddr *addr`, means it is passed by-reference (

[2022-11-26 09:19] valoq commented on #396
I was afraid that would be the case, thanks for the confirmation.

If thats the case I'm not sure why, but the filter actually does block abstract sockets.
Im using it here https://github.com/valoq/bwscripts to prevent the use of abstract sockets for processes that need network namespaces. Using this filter with a bubblewrap script that blocks path access to the normal socket in the mount namespac

[2022-11-26 09:35] rusty-snake commented on #396
1. If you make sure seccomp violations are logged (`seccomp_attr_set(ctx, SCMP_FLTATR_CTL_LOG, 1)`) what violation is logged in your syslog? The `connect` call?
2. What error does xterm show?
3. It is also blocked with only this `connect` rule in the filter?

It compiles to this pfc:

[code]

[2022-11-26 10:19] valoq commented on #396
The filter above does not seem to log any syscalls for me. (I did add the command above right after (`ctx = seccomp_init(SCMP_ACT_ALLOW)`)
I did try another filter that blocks the connect syscall completely and that failed right away, logging the failed connect syscall through auditd.

`xterm: Xt error: Can't open display: :0`

No, "connect" to normal sockets and even network calls work just fine.

[2022-11-26 10:23] rusty-snake commented on #396
If the action in KILL you shouldn't see this, you should?

What do you mean with "directly"?

[2022-11-26 10:34] rusty-snake commented on #396
Ok, simple reproducer

[code]

1. Failes with `cannot open display: :0`
2. Remove `--unshare-net` and everything works.

[2022-11-26 10:50] valoq commented on #396
You are right, I messed up my testscript and had --unshare-all included, sorry about that.

Seems like the filter does not work after all.

Kinda sad that it seems impossible to build a complete container sandbox on linux when network access is required

[2022-11-26 11:03] rusty-snake commented on #396
Internet access from a unshared network namespaces is possible. Either using the kernel native way with bridge interfaces (requires root AFAIK) or with userspace implementations like `slirp4netns`. `bwrap`+`slirp4netns` is not friendly to script in bash but with other languages it is not that much work to get working PoC (https://codeberg.org/crabjail/crabjail/src/commit/6d4e5076c74e7e29afe377b296

[2022-11-26 11:12] valoq commented on #396
Yes, I am aware of that hack, but its not an ideal solution to the problem in my opinion.
A syscall filter would have been a lot better if it was possible.

Anyway, thanks for the reality check and feel free to reach out* if you wanna discuss more sandboxing topics @rusty-snake
I certainly owe you a coffee ;)

* valoq@mailbox.org

[2022-11-26 11:12] #396 closed

[2022-11-26 12:16] Drrr345 commented on #396
Ok whatever but I am ready any day and anytime

On Sat, Nov 26, 2022, 5:12 AM valoq ***@***.***> wrote: